.modal {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pre {
  white-space: pre-line;
}

.w-auto {
  width: auto!important;
}

.flex-grow {
  flex-grow: 1;
}

.alert {
  &.alert-success {
    border-left: 4px solid darkgreen;
  }
  &.alert-warning {
    border-left: 4px solid orange;
  }
  &.aler-danger {
    border-left: 4px solid red;
  }
}
