.modal {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.pre {
  white-space: pre-line;
}

.w-auto {
  width: auto!important;
}

[data-toggle="tooltip"] {
  border-bottom: 1px dashed rgba(black, 0.4);
}

.badge-light-shadow {
  background-color: #eee;
  box-shadow: 1px 1px 1px 1px rgba(black, 0.2);
  &:hover {
    background-color: #ddd;
    text-decoration: none;
  }
}

.card-border-title {
  position: relative;
  padding-left: 10px;
  top: -.75em;
}
