.table-result {
  thead {
    background-color: #fdc;
  }
  td, th {
    font-size: 0.875em;
    &:first-child {
      border: 1px dotted gray;
      min-width: 90px;
      max-width: 90px;
      &.opponent {
        background-color: #e2ffdd;
      }
    }
    &:not(:first-child) {
      border: 1px dotted gray;
      border-left: 0;
      min-width: 108px;
      max-width: 128px;
    }
  }
  td:first-child {
    background-color: #ffd;
    .prize{
      margin-top: .25rem;
      color: purple;
      font-weight: bold;
    }
  }
  td:not(:first-child) {
    &.result-default_win {
    background-color: #ddd;
    }
    &.result-win {
      background-color: white;
    }
    &.result-lose {
      background-color: #cff;
    }
    &.result-break {
      background-color: #ffd;
    }
    &.result-now {
      background-color: #fdd;
    }
  }
}
