{
  "extends": "airbnb-base",
  "plugins": [
    "html"
  ],
  "globals": {
    "axios": true,
    "_": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "env": {
    "browser": true,
    "jquery": true
  }
}
