{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreTemplateLiterals": true,
        "ignorePattern": "^\\s+<|>$"
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before"
        }
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "vue/html-closing-bracket-spacing": "off",
    "vue/max-attributes-per-line": "off"
  }
}
