.bundle/
.vendor/
.sass-cache/
.rbenv-version
.ruby-version
db/
node_modules/
public/css/
public/js/
views/js/*.js
deploy/log/
deploy/sock/
deploy/pid/
scripts/wikipedia_name/tmp/
scripts/periodic_mysqldump.sh
scripts/send_backup_as_emal.sh
scripts/dump/
scripts/bkup_work/
storage/
views/js/libs/

conf.rb

