# -*- coding: utf-8 -*-

CONF_APP_NAME = '景虎'

#CONF_DB_PATH = "sqlite3://#{Dir.pwd}/db/data.db"
CONF_DB_PATH = "mysql://root:hogefuga@localhost/test"

CONF_DB_DEBUG = true
CONF_DB_RAISE_SAVE_FAILURE = true

CONF_USERNAME_CHANGED = {
  '佐藤太郎' => '鈴木太郎',
  '高橋次郎' => '高橋次郎'
}

CONF_HAGAKURE_BASE = '/path/to/hagakure/'
