# -*- coding: utf-8 -*-

## 滅多に変更する必要のないもの

G_APP_NAME = "景虎"

G_MOBILE_BASE = "/mobile"

G_WEEKDAY_JA = ['日','月','火','水','木','金','土']

G_ADDRBOOK_CONFIRM_STR = 'kagetra_addrbook' # 名簿でパスワードが正しいかの確認用

# 一つのドメインで複数のkagetraを起動する場合はこの辺を変更すること
# TODO: 変更しなくて良いように Set-Cookie の Path= を自動設定する
G_SESSION_COOKIE_NAME = "kagetra.session" # ブラウザを閉じると消える
G_PERMANENT_COOKIE_NAME = "kagetra.permanent" # 3ヶ月保存される

G_NEWLY_DAYS_MAX = 75 # 新着コメントとして表示される最大の日数
G_DEADLINE_ALERT = 7 # 締切が迫っていますを表示する日数
G_LOGIN_LOG_DAYS = 10 # ログイン履歴を残す日数
G_TOKEN_EXPIRE_HOURS = 24 # ユーザはブラウザを閉じない限りこれだけの時間は再ログインしなくても良い

G_EVENT_KINDS = {party:"コンパ/合宿/アフター等",etc:"アンケート/購入/その他"}

G_TEAM_SIZES = {"1"=>"個人戦","3"=>"三人団体戦","5"=>"五人団体戦"}

G_TOP_BAR_PRIVATE = [
  {route:"top",      name:"TOP"},
  {route:"bbs",      name:"掲示板"},
  {route:"result",   name:"大会結果"},
  {route:"schedule", name:"予定表"},
  {route:"wiki",     name:"Wiki"},
  {route:"album",    name:"アルバム"},
  {route:"map",    name:"地図"},
  {route:"addrbook", name:"名簿"},
]

G_TOP_BAR_PUBLIC = [
  {route:"bbs",      name:"公開掲示板"},
  {route:"schedule", name:"公開予定表"},
  {route:"result_list", name:"入賞歴"},
  {route:"event_catalog", name:"大会/行事案内"},
  {route:"wiki#page/41", name:"役職"},
  {route:"wiki#page/15", name:"練習会場"},
]

G_SINGLE_POINT = [1,2,4,8,16,32,64] # 個人戦でもらえるA級ポイント
G_SINGLE_POINT_LOCAL = [1,2,4,8,16,32,64,128,256] # 個人戦でもらえる会内ポイント
G_TEAM_POINT_LOCAL = [10,20,30,40,50] # 団体戦でもらえる会内ポイント

## 設定

CONF_STORAGE_DIR = "./storage" # Wikiの添付ファイルとアルバムの写真が置かれるディレクトリ

## 地図
CONF_MAP_TILE_URL = "http://tile.openstreetmap.org" # 地図サーバのURL．必ず変更すること: http://wiki.openstreetmap.org/wiki/Tile_usage_policy

# これを設定しておけばサーバを再起動してもユーザのセッションが保持される．
# 下記のコマンドで生成すること
# $ ruby -e "require 'securerandom';puts SecureRandom.base64(48)"

CONF_SESSION_SECRET = ""

# DBのパス: pgBouncerでプールすることを推奨
CONF_DB_USERNAME = "<user>"
CONF_DB_PASSWORD = "<pass>"
CONF_DB_HOST = "<host>"
CONF_DB_PORT = port
CONF_DB_DATABASE = "<db>"
CONF_DB_OSM_DATABASE = "<osm_db>" # osm2pgsql で変換した OpenStreetMap のデータが入っている DB． nil に設定すると地図検索機能が働かなくなるが他の機能は使える

CONF_DB_DEBUG = true # stdout に DEBUG 情報を出力するかどうか

CONF_LOG_SIZE = 32 # deploy/logに置かれるログの最大サイズ(MB)

# scripts/initial_config.rbで作られる属性, 最初の要素は必ず「全員」にすること
CONF_INITIAL_ATTRIBUTES = {
  "全員" => ["全員"],
  "性" => ["男","女"],
  "学年" => ["1年","2年","3年","4年","院生","社会人"],
  "級" => ["A級","B級","C級","D級","E級"],
  "段位" => ["0","1","2","3","4","5","6","7","8","9"],
  "全日協" => ["○","×"]
}
CONF_CONTEST_DEFAULT_AGGREGATE_ATTR = "級" # 大会のデフォルトの集計属性
CONF_CONTEST_DEFAULT_FORBIDDEN_ATTRS = {"全日協" => ["×"]} # 大会のデフォルトの参加不能属性
CONF_PARTY_DEFAULT_AGGREGATE_ATTR = "学年" # 大会以外の行事のデフォルトの集計属性
CONF_PROMOTION_ATTRS = ["級","段位"] # 昇級履歴で編集できる属性

# 名簿の各項目名,「名前」と「ふりがな」は必須
CONF_ADDRBOOK_KEYS = ['名前','ふりがな','E-Mail','生年月日','所属','出身高校','電話番号','郵便番号1','住所1','郵便番号2','住所2','メモ1','メモ2']

# アルバム写真のサイズ(px)と画質
CONF_ALBUM_LARGE_SIZE = 480000
CONF_ALBUM_LARGE_QUALITY = 92
# アルバムサムネイルのサイズ(px)と画質
CONF_ALBUM_THUMB_SIZE = 30000
CONF_ALBUM_THUMB_QUALITY = 87
# 初ログイン時に表示されるメッセージ
CONF_FIRST_LOGIN_MESSAGE = "競技かるた会用グループウェア「景虎」へようこそ．<br/>「その他」&rArr;「ユーザ設定」でパスワード変更できます．"

# scripts/periodic_dbdump.sh が出力するディレクトリ
CONF_DUMP_DIR = "backups/dumps/"

# scripts/send_backup_as_email.sh 関連
CONF_BKUP_MAIL_TO="mailto@example.com" # バックアップを送る対象アドレス
CONF_BKUP_MAIL_ENC_PASSWORD="hogefuga" # バックアップはこのパスワードで暗号化される

CONF_BACKUP_SMTP_HOST="smtp.gmail.com" # gmail なら smtp.gmail.com
CONF_BACKUP_SMTP_PORT="587" # gmail なら 587
CONF_BACKUP_SMTP_USER="<user>" # アカウント名
CONF_BACKUP_SMTP_PASSWORD="<password>" # パスワード
CONF_BACKUP_SMTP_FROM="<user>@gmail.com" # From: に入る文字列．正しいメアド入れないと送れないかも．
CONF_BACKUP_SMTP_TLS_TRUST_FILE="/etc/ssl/certs/ca-bundle.crt" # yum install ca-certificates で入る
CONF_BACKUP_SMTP_LOGFILE="~/.msmtp.log"

CONF_BKUP_WORKDIR = "backups/workdir/"
CONF_BKUP_MAIL_SUBJECT="kagetra_backup"
CONF_BKUP_MAIL_BODY="this is backup of kagetra"
CONF_BKUP_MAIL_SPLIT_SIZE="20MB" # バックアップはこのサイズに分割される．gmail は最大 25MB なのでそれ以下にする
