- content_for :title do
  管理画面 - 設定
- content_for :js_start do
  admin_config
= haml :top_bar
= haml :admin_common

#admin-change-pass
  .row
    .large-12.columns
      %form#change-shared-pass
        %fieldset
          %legend 共通パスワード変更
          %label 現在の共通パスワード
          %input(name='old-shared-pass' type='password')
          %label 新しい共通パスワード
          %input(name='new-shared-pass-1' type='password')
          %label 新しい共通パスワード(確認用)
          %input(name='new-shared-pass-2' type='password')
          %input.button.small.round(type='submit' value='送信')
  .row
    .large-12.columns
      %form#change-addrbook-pass
        %fieldset
          %legend 名簿パスワード変更
          %label 現在の名簿パスワード
          %input(name='old-addrbook-pass' type='password')
          %label 新しい名簿パスワード
          %input(name='new-addrbook-pass-1' type='password')
          %label 新しい名簿パスワード(確認用)
          %input(name='new-addrbook-pass-2' type='password')
          %input.button.small.round(type='submit' value='送信') ※パスワード変更には数秒〜数十秒かかります

#admin-change-board-message-shared
#admin-change-board-message-user

%script#templ-change-board-message(type='text/template')
  .row
    .large-12.columns
      %form
        %fieldset
          %legend {{ data.mode == "shared" ? "共通" : "個人" }}パスワード入力画面のメッセージ変更
          %input.button.small.round(type='submit' value='送信')
          %textarea(name='message' rows='5') {- data.message -}
%script
  = addrbook_check_password_js
