- content_for :title do
  管理画面 - ユーザ編集
- content_for :js_start do
  admin
- content_for :css do
  admin
= haml :top_bar
= haml :admin_common


#admin-view
  .header
  .body

%script#attr-key-values(type='text/template')
  .row
    .large-6.small-6.columns
      %select.attr-key-names
        <% _.each(key_names,function(x){ %>
        %option(value='{-x[0]-}') {- x[1] -}
        <% }) %>
    .large-6.small-6.columns
      %select.attr-value-names

%script#templ-admin-header(type='text/template')
  .row
    %form#filter-form
      .row
        .large-2.columns
          %input#filter-text(type='text' placeholder='名前 or ふりがな' autofocus)
        .large-3.columns.left
          .attr-key-values

%script#templ-admin-body(type='text/template')
  .row
    .large-4.columns
      選択:
      %span#selected-count {- _.filter(data,function(x){return x.selected}).length -}
      %button.small.round#clear-select
        選択取消
      %button.small.round#reveal-edit
        一括編集
    .large-6.columns
      %a(href="#" data-dropdown="admin-edit-usage") 使い方
      %ul(id="admin-edit-usage" class="f-dropdown" data-dropdown-content )
        %div (1) テーブルの各項目をクリックすることで編集開始
        %div (2) 「最後の変更取り消し」で一つだけ変更を取り消せる
        %div (3) 「全変更反映」で実際にデータ変更をサーバに伝える
      変更点:
      %span#edit-log-count {- data.edit_log_count -}
      %button.small.round#undo-last-edit
        最後の変更取消
      %button.small.round#apply-edit
        全変更反映
    .large-2.columns
      %button.small.round#add-user ユーザ追加
  .row
    %table
      %thead
        %tr(data-uid='-1')
          %th
          %th.select-user &oplus;
          %th 名前
          %th.thead.thead-furigana ふりがな
          %th.thead.thead-last-login 最終ログイン
          <% _.each(key_names,function(x,index){ %>
          %th.thead.thead-key-name(data-key-index='{{index}}') {- x[1] -}
          <% }) %>
          %th.thead.thead-loginable ログイン
          %th.thead.thead-permission 権限
      %tbody
        <% _.each(_.filter(data,function(x){return x.visible}),function(x,i){ %>
        %tr(data-uid='{{x.id}}')
          %td {{ i+1 }}
          %td.select-user(class='{{x.selected?"selected":""}}') &oplus;
          %td.name {- x.name -}
          %td.furigana {- x.furigana -}
          %td {{ x.login_latest }}
          <% _.each(x.attrs,function(a){ %>
          <% av = attr_values[a] %>
          %td.user-attr(data-key-id='{{av.key_id}}' data-value-id='{{a}}') {- av.value -}
          <% }) %>
          %td {{x.loginable?'可能':'不可'}}
          %td {{x.admin?'管理者':(x.permission=='sub_admin'?'副管理':'')}}
        <% }) %>

%script#templ-admin-edit(type='text/template')
  編集対象:
  .panel
    <% _.each(data,function(x){ %>
    <% if(x.selected){ %>
    <%- x.name %>
    <% } %>
    <% }) %>
  .row
    .large-6.columns
      %fieldset
        %legend 権限編集
        .row
          .large-7.columns
            %select#permission-name
              %option(value='loginable') ログイン可能
              %option(value='admin') 管理者
              %option(value='sub_admin') 副管理者
          .large-5.columns
            %button.small.round#add-permission 付与
            %button.small.round#del-permission 解除
        .row
          ※ 副管理者ができること: 大会／行事の追加，他ユーザの予定表／名簿／大会結果の情報の編集
    .large-6.columns
      %fieldset
        %legend 属性編集
        .row
          .large-9.columns
            .attr-key-values
          .large-3.columns
            %button.small.round#change-attr 変更
  .row
    .large-6.columns
      %form#change-passwd
        %fieldset
          %legend パスワード変更
          .row
            .large-5.columns
              %label 新パスワード
              %input.pass-new(type='password')
            .large-5.columns
              %label 新パスワード確認
              %input.pass-retype(type='password')
            .large-2.columns
              %input.button.small.round(type='submit' value='変更')
    .large-6.columns
      %form#delete-user
        %fieldset
          %legend ユーザ削除
          %input.button.small.round.alert#delete-user(type='submit' value='ユーザ削除')

%script#templ-admin-user-add(type='text/template')
  %button.small.round#apply-add 追加
  %div ※ ユーザの初期パスワードは共通パスワードに設定されます．
  %div ※ 一人につき1〜2秒かかるので気長にお待ち下さい．
  <% for(i=0;i<7;i++){ %>
  %form.clearfix
    .left
      名前:
      %input(type='text' name='name')
    .left
      ふりがな:
      %input(type='text' name='furigana')

    <% _.each(data.key_names,function(x){ %>
    .left
      {- x[1] -}:
      %select(name='attr_{{x[0]}}')
        <% _.each(data.key_values[x[0]],function(y){ %>
        <% v = data.attr_values[y] %>
        {{_.make_option(v.default?y:null,{value:y,text:v.value})}}
        <% }) %>
    <% }) %>
  <% } %>

#admin-user-add.reveal-modal

#admin-edit.reveal-modal

%script
  var g_new_salt="#{@new_salt}";
