- content_for :title do
  アルバム
- content_for :js_start do
  album
- content_for :css do
  album
= haml :top_bar

#album-top
#album-year
#album-group
#album-item

%script#templ-album-top(type='text/template')
  .row
    %ul.large-block-grid-7.small-block-grid-4
      <% _.each(data.list,function(x){ %>
      %li
        .gbase.years(data-year='{-x[0]?x[0]:"_else_"-}')
          .row
            .large-12.columns
              .year.left {- x[0]?x[0]+'年':'不明' -}
              .count.right {- x[1] -}

      <% }) %>

%script#templ-album-year(type='text/template')
  .row
    %a(href="album") 戻る
    %ul.large-block-grid-3.small-block-grid-2
      <% _.each(data.list,function(x){ %>
      %li
        <% if(x.type == "group"){ %>
        .gbase.group(data-group-id='{-x.id-}')
          .clearfix
            .date.left {- x.start_at -}
            .count.right {- x.item_count -}
          %div {- x.name -}
        <% }else{ %>
        .gbase.item(data-item-id='{-x.id-}')
          .date {- x.date -}
          %div {- x.name -}
        <% } %>
      <% }) %>

%script#templ-album-group(type='text/template')
  .row
    %a(href='album#year/{{data.year}}') 戻る
    {- data.name -}
    %ul.large-block-grid-4.small-block-grid-2
      <% _.each(data.items,function(x){ %>
      %li
        .gbase.thumbnail(data-item-id='{-x.id-}')
          %img(src='/static/album/thumb/{- x.id -}')

      <% }) %>
      

%script#templ-album-item(type='text/template')
  .row
    .large-12.columns
    %a(href='album{{data.group_id?"#group/"+data.group_id:"#year/"+data.group_year}}') 戻る
  .row
    .large-4.columns
      %table#album-infos
        %tr
          %td タイトル
          %td {- data.name -}
        %tr
          %td 場所
          %td {- data.place -}
        %tr
          %td 日付
          %td {{ data.date }}
    .large-8.columns
      %fieldset#album-comment
        %legend コメント
        {- data.comment -}
  .row
    .large-12.columns
      #album-tags
        タグ一覧: 
        <% templ = _.template_braces($("#templ-album-tag").html()) %>
        <% _.each(data.tags,function(t){ %>
        {{ templ({tag:t}) }}
        <% }) %>
        
  .row
    .large-12.columns
      #canvas(style="height:{{data.height}}px;width:{{data.width}}px")
        %img#photo(height="{{data.height}}" width="{{data.width}}" src='/static/album/photo/{- data.id -}')
        %img#marker-r.marker.hide(src='/img/album_marker/red.gif')
        %img#marker-b.marker.hide(src='/img/album_marker/blue.gif')
        %img#marker-y.marker.hide(src='/img/album_marker/yellow.gif')
        %span#tag-name.hide

%script#templ-album-tag(type='text/template')
  .album-tag(data-tag-id='{{tag.id}}')
    %span {- tag.name -}
