- content_for :title do
  アルバム
- content_for :js_start do
  album
- content_for :css do
  album
= haml :top_bar

#album-top
#album-year
#album-group
#album-item
#album-search

#container-album-relations.reveal-modal

%script#templ-album-top(type='text/template')
  .row
    .large-8.columns
      計:
      %span.album-num-total {{ data.total }}
      枚
      %button.small.round 写真アップロード
    .large-4.columns
      {{ $("#templ-album-search-form").html() }}
  .row
    %ul.large-block-grid-7.small-block-grid-4
      <% _.each(data.list,function(x){ %>
      %li
        .gbase.years(data-year='{-x[0]?x[0]:"_else_"-}')
          .row
            .large-12.columns
              .year.left {- x[0]?x[0]+'年':'不明' -}
              .count.right {- x[1] -}

      <% }) %>

%script#templ-album-year(type='text/template')
  .row
    %a(href="album#") TOP
    %ul.large-block-grid-3.small-block-grid-2
      <% _.each(data.list,function(x){ %>
      %li
        <% if(x.type == "group"){ %>
        .gbase.group(data-group-id='{-x.id-}')
          .clearfix
            .date.left {- x.start_at -}
            .count.right {- x.item_count -}
          %div {- x.name -}
        <% }else{ %>
        .gbase.item(data-item-id='{-x.id-}')
          .date {- x.date -}
          %div {- x.name -}
        <% } %>
      <% }) %>

%script#templ-album-group(type='text/template')
  .row
    %a(href='album#') TOP - 
    %a(href='album#year/{{data.year}}') {{data.year}}年 -
    {- data.name -}
    %ul.large-block-grid-4.small-block-grid-2
      <% _.each(data.items,function(x){ %>
      %li
        .gbase.thumbnail(data-item-id='{-x.id-}')
          %img(src='/static/album/thumb/{- x.id -}')

      <% }) %>
      

%script#templ-album-item(type='text/template')
  .row
    .large-12.columns
      .left
        %a(href='album#') TOP - 
        %a(href='album#year/{{data.group.year}}') {{data.group.year}}年 -
        <% if(!data.group.dummy){ %>
        %a(href='album{{"#group/"+data.group.id}}') {- data.group.name -}
        <% } %>
      .right
        %button.small.round#start-edit(data-toggle-text='キャンセル') 編集開始
  %form#album-item-form
    .row
      .large-4.columns
        %table#album-infos
          %tr
            %td タイトル
            %td#album-name {- data.name -}
          %tr
            %td 場所
            %td#album-place {- data.place -}
          %tr
            %td 日付
            %td#album-date {{ data.date }}
      .large-8.columns
        %fieldset#album-comment-container
          %legend コメント
          %div#album-comment.pre {- data.comment -}
  .row
    .large-12.columns
      #album-tags
        タグ一覧: 
        <% templ = _.template_braces($("#templ-album-tag").html()) %>
        <% _.each(data.tags,function(t){ %>
        {{ templ({tag:t}) }}
        <% }) %>
  <% if(!_.isEmpty(data.relations)){ %>
  .row.show-for-small
    %a#scroll-to-relation 関連写真へスクロール ( {{data.relations.length}} ) 
  <% } %>
  .row
    .large-12.columns
      #canvas.left(style="height:{{data.height}}px;width:{{data.width}}px")
        %img#photo(height="{{data.height}}" width="{{data.width}}" src='/static/album/photo/{- data.id -}')
        %img#marker-r.marker.hide(src='/img/album_marker/red.gif')
        %img#marker-b.marker.hide(src='/img/album_marker/blue.gif')
        %img#marker-y.marker.hide(src='/img/album_marker/yellow.gif')
        %span#tag-name.hide
      <% if(!_.isEmpty(data.relations)){ %>
      #relations-start.left
        関連写真 ( {{data.relations.length}} ): 
      <% } %>
      <% _.each(data.relations,function(r){ %>
      .left.relation
        %a(href='album#item/{{r}}')
          %img(src='/static/album/thumb/{{r}}')
      <% }) %>

%script#templ-album-tag(type='text/template')
  .album-tag(data-tag-id='{{tag.id}}')
    %span.album-tag-name {- tag.name -}

%script#templ-album-search(type='text/template')
  .row
    .large-8.columns
      %a(href='album#') TOP
    .large-4.columns
      {{ $("#templ-album-search-form").html() }}
  .search-result

%script#templ-album-search-result(type='text/template')
  .row
    .large-12.columns
      <% if(data.pages > 1){ %>
      %ul.pagination
        <% for(i=0;i<data.pages;i++){ %>
        %li(class='{{i+1==data.cur_page?"current":""}}')
          %a.page(data-page='{{i+1}}') {{i+1}}
        <% } %>
      <% } %>
      <% _.each(data.list,function(x){ %>
      %a(href='album#item/{{x}}')
        %img(src='/static/album/thumb/{{x}}')
      <% }) %>

%script#templ-album-search-form(type='text/template')
  %form.search-form
    .row.collapse
      .large-10.small-10.columns
        %input(name='qs' type='text' placeholder='検索文字列')
      .large-2.small-2.columns
        %input.button.small.postfix.radius(type='submit' value='検索')

