- content_for :title do
  アルバム
- content_for :js_start do
  album
- content_for :css do
  album
= haml :top_bar

#album-top
#album-year
#album-group
#album-item
#album-search

#container-album-relations.reveal-modal

%script#templ-album-top(type='text/template')
  .row
    .large-8.columns
      計:
      %span.album-num-total {{ data.total }}
      枚
      %button.small.round 更新履歴
      %button.small.round#album-new-upload 写真アップロード
    .large-4.columns
      {{ $("#templ-album-search-form").html() }}
  .row
    %ul.large-block-grid-7.small-block-grid-4
      <% _.each(data.list,function(x){ %>
      %li
        .gbase.years(data-year='{-x[0]?x[0]:"_else_"-}')
          .row
            .large-12.columns
              .year.left {- x[0]?x[0]+'年':'不明' -}
              .count.right {- x[1] -}
      <% }) %>

%script#templ-album-year(type='text/template')
  .row
    %a(href="album#") TOP
    %ul.large-block-grid-3.small-block-grid-2
      <% _.each(data.list,function(x){ %>
      %li
        <% if(x.type == "group"){ %>
        .gbase.group(data-group-id='{-x.id-}')
          .clearfix
            .date.left {- x.start_at -}
            .count.right {- x.item_count -}
          %div {- x.name -}
        <% }else{ %>
        .gbase.item(data-item-id='{-x.id-}')
          .date {- x.date -}
          %div {- x.name -}
        <% } %>
      <% }) %>

%script#templ-album-group(type='text/template')
  .row
    .large-4.columns
      %a(href='album#') TOP - 
      %a(href='album#year/{{data.year}}') {{data.year}}年
    .large-8.columns
      .right#album-buttons
        %button.small.round 写真追加
        %button.small.round#start-edit 編集開始
      .right#album-edit-buttons.hide
        <% if(data.deletable){ %>
        %button#album-delete.small.round.alert フォルダ削除
        <% } %>
        %button#cancel-edit.small.round#cancel-edit キャンセル
        %button#apply-edit.small.round#apply-edit 更新
  #album-info
  .row
    .large-12.columns
      #album-tags
        タグ一覧: 
        <% _.each(data.tags,function(t){ %>
        .album-tag
          %span.album-tag-name {- t[0] -}
          %span ({- t[1].length -})
        <% }) %>
  .row
    .large-12.columns
      #album-items

%script#templ-album-group-items(type='text/template')      
  <% _.each(_.filter(data.items,function(x){return ! x.hide}),function(x){ %>
  .gbase.thumbnail.album-item(data-id='{{x.id}}')
    {{_.album_thumb(x)}}
  <% }) %>

%script#templ-album-item(type='text/template')
  .row
    .large-12.columns
      .left
        %a(href='album#') TOP - 
        %a(href='album#year/{{data.group.year}}') {{data.group.year}}年 -
        <% if(!data.group.dummy){ %>
        %a(href='album{{"#group/"+data.group.id}}') {- data.group.name -}
        <% } %>
      .right#album-buttons
        %button.small.round コメント履歴
        %button.small.round#start-edit 編集開始
      .right#album-edit-buttons.hide
        <% if(data.deletable){ %>
        %button#album-delete.small.round.alert 写真削除
        <% } %>
        %button#cancel-edit.small.round#cancel-edit キャンセル
        %button#apply-edit.small.round#apply-edit 更新
  #album-info
  <% if(!_.isEmpty(data.relations)){ %>
  .row.show-for-small
    .large-12.columns
      %a#scroll-to-relation 関連写真へスクロール ( {{data.relations.length}} ) 
  <% } %>
  .row
    .large-12.columns
      #album-tags
        タグ一覧: 
        <% templ = _.template_braces($("#templ-album-tag").html()) %>
        <% _.each(data.tags,function(t){ %>
        {{ templ({tag:t}) }}
        <% }) %>
  .row#canvas-container
    .large-12.columns
      #container.left(style="height:{{data.photo.height}}px;width:{{data.photo.width}}px")
        %img#photo(style="" src='/static/album/photo/{{data.photo.id}}')
        %img#marker-r.marker.hide(src='/img/album_marker/red.gif')
        %img#marker-b.marker.hide(src='/img/album_marker/blue.gif')
        %img#marker-y.marker.hide(src='/img/album_marker/yellow.gif')
        #canvas
        %span#tag-name.hide
      #relation-container

%script#templ-relations(type='text/template')
  <% if(!_.isEmpty(relations)){ %>
  .left#relation-start
    関連写真 ( {{relations.length}} ): 
  <% } %>
  <% _.each(relations,function(x){ %>
  .left.relation
    {{_.album_thumb(x)}}
  <% }) %>


%script#templ-album-tag(type='text/template')
  .album-tag(data-tag-id='{{tag.id}}')
    %span.album-tag-name {- tag.name -}

%script#templ-album-search(type='text/template')
  .row
    .large-8.columns
      .top-message
        %a(href='album#') TOP
    .large-4.columns
      {{ $("#templ-album-search-form").html() }}
  .search-result

%script#templ-album-search-result(type='text/template')
  .row
    .large-12.columns
      <% if(data.pages > 1){ %>
      %ul.pagination
        <% for(i=0;i<data.pages;i++){ %>
        %li(class='{{i+1==data.cur_page?"current":""}}')
          %a.page(data-page='{{i+1}}') {{i+1}}
        <% } %>
      <% } %>
      <% _.each(data.list,function(x){ %>
      .gbase.thumbnail {{_.album_thumb(x)}}
      <% }) %>

%script#templ-album-search-form(type='text/template')
  %form.search-form
    .row.collapse
      .large-10.small-10.columns
        %input(name='qs' type='text' placeholder='検索文字列')
      .large-2.small-2.columns
        %input.button.small.postfix.radius(type='submit' value='検索')

%script#templ-album-info(type='text/template')
  .row
    .large-5.columns
      %table#album-info-table
        %tr
          %td 日付
          %td {{ _.show_date(data) }}
        %tr
          %td タイトル
          %td {- data.name -}
        %tr
          %td 場所
          %td {- data.place -}
    .large-7.columns
      %fieldset#album-comment-container
        %legend コメント
        %div.pre {- data.comment -}

%script#templ-album-info-form(type='text/template')
  %form#album-item-form
    .row
      .large-5.columns
        %table#album-info-table
          %tr
            %td 日付
            %td
              <% if(!is_group){ %>
              %input(name='date' type='text' value='{-data.date-}' placeholder='YYYY-MM-DD')
              <% }else{ %>
              %input(name='start_at' type='text' value='{-data.start_at-}' placeholder='開始日(YYYY-MM-DD)') &sim;
              %input(name='end_at' type='text' value='{-data.end_at-}' placeholder='終了日(YYYY-MM-DD)')
              <% } %>
          %tr
            %td タイトル
            %td
              %input(name='name' type='text' value='{-data.name-}')
          %tr
            %td 場所
            %td
              %input(name='place' type='text' value='{-data.place-}')
          %tr
            %td 
            %td
              <% if(!is_group){ %>
              {{ _.make_checkbox(data.daily_choose,{name:'daily_choose'}) }} 今日の一枚に選ぶ
              <% } %>

      .large-7.columns
        %fieldset#album-comment-container
          %legend コメント
          %div
            %textarea(name='comment' rows='10') {- data.comment -}


%script#templ-album-upload(type='text/template')
  .row
    .large-12.columns
      -# %input(type='checkbox') どのフォルダにも属さない写真にする
      %input(type='file' name='file')
      %input.button.small.round(type='submit' value='送信')
      %ul
        %li 各画像ファイルの拡張子はpng,jpg,gifのどれかにして下さい．
        %li 画像ファイルを複数圧縮したzipファイルにも対応しています．
        -# %li ファイルに何も指定しないと空のフォルダを作ります．
      %iframe(name='dummy-iframe' id='dummy-iframe' style='display:none;')


#container-album-relation.reveal-modal
#container-album-upload.reveal-modal
