- content_for :title do
  アルバム
- content_for :js_start do
  album
- content_for :css do
  album
= haml :top_bar, locals: {user: user}

#album-top
#album-year
#album-group
#album-item

%script#templ-album-top(type='text/template')
  .row
    %ul.large-block-grid-7.small-block-grid-4
      <% _.each(data.list,function(x){ %>
      %li
        .gbase.year(data-year='{-x[0]?x[0]:"_else_"-}')
          .row
            .large-12.columns
              .left {- x[0]?x[0]+'年':'不明' -}
              .right {- x[1] -}

      <% }) %>

%script#templ-album-year(type='text/template')
  .row
    %a(href="#") 戻る
    %ul.large-block-grid-3.small-block-grid-2
      <% _.each(data.list,function(x){ %>
      %li
        <% if(x.type == "group"){ %>
        .gbase.group(data-group-id='{-x.id-}')
          .clearfix
            .date.left {- x.start_at -}
            .count.right {- x.item_count -}
          %div {- x.name -}
        <% }else{ %>
        .gbase.item(data-item-id='{-x.id-}')
          .date {- x.date -}
          %div {- x.name -}
        <% } %>
      <% }) %>

%script#templ-album-group(type='text/template')
  .row
    {- data.name -}
    %ul.large-block-grid-4.small-block-grid-2
      <% _.each(data.items,function(x){ %>
      %li
        .gbase.thumbnail(data-item-id='{-x.id-}')
          %img(src='/static/album/thumb/{- x.id -}')

      <% }) %>
      

%script#templ-album-item(type='text/template')
  .row
    {- data.name -}
    %img(src='/static/album/photo/{- data.id -}')
