- content_for :title do
  掲示板
- content_for :js_start do
  bbs
- content_for :css do
  bbs
= haml :top_bar, locals: {user: user}
.row
  %div.large-6.columns
    %button#new-thread-toggle.small.round スレッド作成
    %button#search-toggle.small.round 検索
#search-row.row.hide
  %form#search-form.large-6.columns
    .row
      .large-10.small-10.columns
        %input#query-string(type='text')
      .large-2.small-2.columns
        %input(type='submit' value='検索')
#new-thread-row.row.hide
  %form#new-thread-form.large-12.columns
    %fieldset
      %legend スレッド作成
      %label タイトル
      %input#new-thread-title(type='text')
      %label 内容
      %textarea#new-thread-body(rows=30)
      %input.button.small.round(type='submit' value='送信')

.row
  %div.large-6.columns
    %button#prev-thread.small.round 前へ
    %button#next-thread.small.round 次へ
.row
  #bbs-body

%script#templ-thread(type='text/template')
  .thread
    .title
      <%= title %>
    .items
      <%= items %>
    .response
      %button.response-toggle.small.round レスする
      .response-container
%script#templ-item(type='text/template')
  .item
    .name-date
      %span.name
        <%= name %>
      %span.date
        @ <%= date %>
    .body
      <%= body %>
%script#templ-response(type='text/template')
  %form.response-form
    %label レス
    %textarea.response-body(rows=20)
    %input.button.small.round(type='submit' value='送信')

