- content_for :title do
  掲示板
- content_for :js_start do
  bbs
- content_for :css do
  bbs, comment
= haml :top_bar, locals: {user: user}
.row
  %div.large-6.columns
    %button#new-thread-toggle.small.round(data-toggle-text="キャンセル") スレッド作成
    %button#search-toggle.small.round 検索
#search-row.row.hide
  %form#search-form.large-6.columns
    .row
      .large-10.small-10.columns
        %input#query-string(type='text' autofocus)
      .large-2.small-2.columns
        %input(type='submit' value='検索')
#new-thread-row.row.hide
  %form#new-thread-form.large-12.columns
    %fieldset
      %legend スレッド作成
      %input.button.small.round(type='submit' value='送信')
      .row
        .large-12.columns
          %label タイトル
          .row
            .large-10.columns
              %input(name='title' type='text' autofocus)
            .large-2.columns
              %input(name='public' type='checkbox') 外部公開
      .row
        .large-12.columns
          %label 内容
          %textarea(name='body' rows=30)

.row
  %div.large-6.columns
    %button#prev-thread.small.round 前へ
    %button#next-thread.small.round 次へ
.row
  #bbs-body

= haml :comment
