- content_for :title do
  掲示板
- content_for :js_start do
  bbs
- content_for :css do
  bbs
= haml :top_bar
%div
  %button.small.round 新規スレッド作成
  %button.small.round 検索
%div
  %button#prev-thread.small.round 前へ
  %button#next-thread.small.round 次へ
#bbs-body

%script#templ-thread(type='text/template')
  .thread
    .title
      <%= title %>
    .items
      <%= items %>
%script#templ-item(type='text/template')
  .item
    .name-date
      %span.name
        <%= name %>
      %span.date
        @ <%= date %>
    .body
      <%= body %>
