%script#templ-response(type='text/template')
  %form.response-form
    %input.button.small.round(type='submit' value='送信')
    .row
      .large-12.columns
        %input(name='user_name' type='text' placeholder='名前' value='{-data.default_user_name-}' )
    %textarea.response-body(name='body' rows=20 placeholder='レス内容')

%script#templ-edit-response(type='text/template')
  %form.response-edit-form
    %input.button.small.round(type='submit' value='送信')
    .row
      .large-12.columns
        %input(name='user_name' type='text' placeholder='名前' value='{-data.user_name-}')
        %textarea.response-edit-body(name='body' rows=20 placeholder='内容') {- data.body -}

%script#templ-comment-item(type='text/template')
  .comment-item
    .clearfix
      .name-date.left
        %span.name
          <%= _.user_name_with_real_name(data) %>
        %span.date
          @ <%= data.date %>
        <% if(data.is_new){ %>
        %span.is-new.label.round new
        <% } %>
      .right
        <% if(data.editable){ %>
        %button.tiny.toggle-edit(data-toggle-text="キャンセル") 編集
        %button.tiny.alert.delete 削除
        <% } %>
    .body.pre <%= _.replace_url_escape(data.body) %>

%script#templ-ext-comment(type='text/template')
  .clearfix
    .left
      %button.response-toggle.small.round(data-toggle-text="キャンセル") 書き込む
      %span.thread-name {- data.thread_name -}
    <% if(data.header_template){ %>
    <% tmpl = _.template_braces($(data.header_template).html()) %>
    .right
      {{ tmpl({data:data}) }}
    <% } %>
      
  .response-container
  .comment-body
  = haml :pagination_alt
