%script#templ-response(type='text/template')
  %form.response-form
    %input.button.small.round(type='submit' value='送信')
    .row
      .large-12.columns
        %input(name='user_name' type='text' placeholder='名前' value='{-data.default_user_name-}' )
    %textarea.response-body(name='body' rows=20 placeholder='レス内容')
      
%script#templ-edit-response(type='text/template')
  %form.response-edit-form
    %input.button.small.round(type='submit' value='送信')
    .row
      .large-12.columns
        %input(name='user_name' type='text' placeholder='名前' value='{-data.user_name-}')
        %textarea.response-edit-body(name='body' rows=20 placeholder='内容') {- data.body -}

%script#templ-comment-item(type='text/template')
  .comment-item
    .clearfix
      .name-date.left
        %span.name
          <%- data.user_name %>
        %span.date
          @ <%= data.date %>
        <% if(data.is_new){ %>
        %span.is-new.label.round new
        <% } %>
      .right
        <% if(data.editable){ %>
        %button.tiny.toggle-edit(data-toggle-text="キャンセル") 編集
        %button.tiny.alert.delete 削除
        <% } %>
    .body.pre <%- data.body %>

%script#templ-ext-comment(type='text/template')
  %button.response-toggle.small.round(data-toggle-text="キャンセル") 書き込む
  %span.thread-name {- thread_name -}
  .response-container
  .comment-body
  <% if(next_page){ %>
  %hr
  %a.next-comment-page(data-next-page='{{next_page}}') 次のページ
  <% } %>

%script#templ-bbs-thread(type='text/template')
  .thread(class='{-data.public?"public":"private"-}')
    .clearfix
      .left.title
        {- data.title -}
      - if not @public_mode
        .right.is-public
          {- data.public?"外部公開":"" -}
    .comment-body
    %button.response-toggle.small.round(data-toggle-text="キャンセル") 書き込む 
    .response-container

- if not @public_mode
  %script
    var g_user_name='#{@user.name}'
    -if @user.bbs_public_name
      var g_user_bbs_public_name='#{@user.bbs_public_name}'
- else
  %script
    var g_user_name='#{get_permanent("bbs_name")}'
