%script#templ-event-comment(type='text/template')
  <%= event_name %>
  %button.toggle-comment.round.small コメントする
  %form.comment-form.hide
    %textarea(name='body' rows=15)
    %input.button.small.round(type='submit' value='送信')
  <% _.each(data,function(x){ %>
  %hr
  .comment-item
    %div.name-date
      %span.name <%= x.user_name %>
      %span.date @ <%= x.date %>
    %div <%= x.body %>
  <% }) %>
