%script#templ-event-detail(type='text/template')
  %div 大会名: <%- data.name %>
  %div 日付: <%- data.date %>
  %div 〆切: <%- data.deadline %>
  %div 備考:
  .panel.pre <%- data.description %>
  %div
    <% _.each(_.filter(data.choices,function(c){return c.positive}),function(c){ %>
    <% p = data.participant && data.participant[c.id] || [] %>
    %div
      <%- c.name %> (<%- _.flatten(_.map(p,function(x){return _.values(x)})).length %>) :
      .panel
        <% _.each(p,function(q){ %>
        %div.participants
          %span.label.round <%- _.keys(q)[0] %>
          <%- _.values(q)[0].join(", ") %>
        
        <% }) %>
    <% }) %>

%script#templ-event-comment(type='text/template')
  <%- event_name %>
  %button.toggle-comment.round.small(data-toggle-text='キャンセル') コメントする
  %form.comment-form.hide
    %textarea(name='body' rows=15 autofocus)
    %input.button.small.round(type='submit' value='送信')
  <% _.each(data,function(x){ %>
  %hr
  .comment-item
    %div.name-date
      %span.name <%- x.user_name %>
      %span.date @ <%- x.date %>
      <% if(x.is_new){ %>
      %span.is-new.label.round new
      <% } %>
    %div.pre <%- x.body %>
  <% }) %>
