!!! 5
%html
  %head
    %title MainApp
    %link(rel="stylesheet" href="/stylesheets/style.css")
  %body
    %div.this-is-a-test Hello Sass
    %div count: #{count}
    %script(src="/javascripts/script.js")
