%form#shared-pass
  %input(type='password')
%div#user-list
  %select#initials
    - Kagetra::Utils.gojuon_row_names.each_with_index do |name,index|
      %option(value=index)= name
    %option(value="-1") その他
  %select#names
%form#main-form
  %input(type='password')
.alert-box(data-alert)
  This is Closable Alert
  %a.close(href="#") &times;
%script
  var g_shared_salt="#{shared_salt}"
