!!! 5
%html
  %head
    %title #{CONF_APP_NAME} #{if defined? page_title then " - " + page_title else "" end}
    %link(rel="stylesheet" href="/stylesheets/style.css")
  %body
    = yield
    %script(src="/javascripts/jquery-1.9.1.min.js")
    %script(src="/javascripts/json2.js")
    %script(src="/javascripts/underscore-min-1.4.4.js")
    %script(src="/javascripts/backbone-min-1.0.0.js")
    %script(src="/javascripts/foundation/foundation.js")
    %script(src="/javascripts/foundation/foundation.alerts.js")
    %script(src="/javascripts/script.js")
