!!! 5
%html
  %head
    %title #{CONF_APP_NAME} #{if defined? page_title then " - " + page_title else "" end}
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="stylesheet" href="/css/base1.css")
    %link(rel="stylesheet" href="/css/base2.css")
    %link(rel="stylesheet" href="/css/top.css")
  %body
    = yield
    %script(data-main="js/main" src="js/libs/require.js")
