!!! 5
%html
  %head
    %title #{CONF_APP_NAME} #{if defined? page_title then " - " + page_title else "" end}
    %link(rel="stylesheet" href="/stylesheets/style.css")
  %body
    = yield
    %script(data-main="javascripts/main" src="javascripts/libs/require.js")
