%script
  var g_shared_salt = '#{shared_salt}';
  var g_login_uid = '#{login_uid}';
  var g_login_uname = '#{login_uname}';
%script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" integrity="sha256-u6BamZiW5tCemje2nrteKC2KoLIKX9lKPSpvCkOhamw=" crossorigin="anonymous")
