- content_for :title do
  ログイン
- content_for :js_start do
  login

.row
  .columns
    %a(href='/mobile') [携帯版]

#container-shared-pass
#container-login

%script#templ-shared-pass(type='text/template')
  .row
    %form#shared-pass.large-6.columns
      %fieldset
        %legend ログイン
        .row
          .large-8.columns
            %label 共通パスワード
            .row.collapse
              .large-10.small-10.columns
                %input(type='password' autofocus)
              .large-2.small-2.columns
                %input.button.postfix.radius(type='submit' value='GO')
%script#templ-user-list(type='text/template')
  .row
    .large-3.columns
      %select#initials
        - Kagetra::Utils.gojuon_row_names.each_with_index do |name,index|
          %option(value=index)= name
        %option(value="-1") その他
    .large-9.columns
      %select#user-names
- if login_uid then
  %script#templ-user-name(type='text/template')
    .row
      .large-6.columns
        %div(style='font-weight:bold;font-size:110%;margin-bottom:0.5em;color:#003')= login_uname
      .large-6.columns
        %a(href="relogin") 別ユーザでログイン
    %input#login-uid(type='hidden' value='#{login_uid}')

%script#templ-login(type='text/template')
  .row
    %form#login.large-6.columns
      %fieldset
        %legend ログイン
        #user-list
        .row
          .large-8.columns
            %label 個人パスワード
            .row.collapse
              .large-10.small-10.columns
                %input(type='password' autofocus)
              .large-2.small-2.columns
                %input.button.postfix.radius(type='submit' value='GO')

%script
  var g_shared_salt="#{shared_salt}";

/[if lt IE 9]
  %script
    alert("Internet Explorer 8以下のブラウザは未対応です．携帯版を使用して下さい．");
