- content_for :title do
  ログイン履歴
- content_for :js_start do
  login_log
- content_for :css do
  login_log
= haml :top_bar

.row
  .section-container.tabs(data-section="tabs")
    %section
      %p.title(data-section-title)
        %a(href="login_log#ranking") ランキング
      .content(data-section-content)
        #login-ranking
    %section
      %p.title(data-section-title)
        %a(href="login_log#weekly") 今週
      .content(data-section-content)
        #login-weekly
    %section
      %p.title(data-section-title)
        %a(href="login_log#total") 履歴
      .content(data-section-content)
        #login-total

%script#templ-login-ranking(type='text/template')
  .row
    .large-12.columns
      .body

%script#templ-login-table(type='text/template')
  .left
    %table
      %caption {{ title }}
      %tbody
        <% found = false %>
        <% _.each(data.ranking,function(x){ %>
        <% if(data.myinfo && x.user_id == data.myinfo.user_id){klass="myrank";found=true}else{klass=""} %>
        %tr(class='{{klass}}')
          %td.count {{ x.rank }}
          %td.count {{ x.count }}
          %td {- names[x.user_id] -}
          <% if(data.one_day){ %>
          %td.count [{{data.one_day[x.user_id]||0}}]
          <% } %>
        <% }) %>
        <% if(!found && data.myinfo){ %>
        %tr.myrank
          %td.count {{ data.myinfo.rank }}
          %td.count {{ data.myinfo.count }}
          %td {{ names[data.myinfo.user_id] }}
          <% if(data.one_day){ %>
          %td.count [{{data.one_day[data.myinfo.user_id]}}]
          <% } %>
        <% } %>
%script#templ-login-total(type='text/template')
  .row
    .large-12.columns
      %table
        %thead
          %tr
            %th 年月
            %th 総数
            %th(colspan=5) TOP5
            %th 貴方
            %th 順位
        %tbody
          <% _.each(data.list,function(x){ %>
          %tr
            %td
              <%= x[0] %>
            %td.count
              <%= x[1].count %>
            <% for(i=1;i<=5;i++){ %>
            %td.count
              <%= x[1].top ? x[1].top[i] : 0 %>
            <% } %>
            %td.count
              <%= x[1].user ? x[1].user.count : 0 %>
            %td.count
              <%= x[1].user ? x[1].user.rank : -1 %>
          <% }) %>
%script#templ-login-weekly(type='text/template')
  .row
    .large-12.columns
      <% _.each(data.list,function(x){ %>
      %div {{ x[0] }}
      %table
        <% _.each(x[1],function(y){ %>
        %tr
          %td
            .right {{ y.hour }}時
          %td
            %span.left.bar.mylog(style='width:{{10*y.mylog}}px') &nbsp;
            %span.left.bar.total(style='width:{{10*(y.total-y.mylog)}}px') &nbsp;
        <% }) %>
      <% }) %>
