- content_for :title do
  地図
- content_for :js_start do
  map
- content_for :css do
  map , /js/libs/leaflet/dist/leaflet
= haml :top_bar

.row
  .large-6.small-12.columns
    #bookmark-menu
      .row
        .large-8.small-8.columns
          %select#bookmark-list
        .large-4.small-4.columns.nowrap
          %button#bookmark-new.small.round 作成
          %button#bookmark-edit.small.round.hide 編集
          %button#bookmark-cancel.small.round.hide キャンセル
      #bookmark-edit-buttons.row.hide
        .large-12.small-12.columns
          %a(href="#" data-dropdown="maps-usage") 使い方
          %ul#maps-usage.f-dropdown(data-dropdown-content)
            %div ・地図上の地点をクリックしてマーカー挿入
            %div ・マーカーはドラッグで移動できる
            %div ・マーカー編集は一覧の左の&sect;をクリック
            %div ・マーカー削除は一覧の右の&times;をクリック
            %div ・「変更を保存」で現在の表示状態とマーカー保存
          %button#bookmark-change-title.small.round タイトル編集
          %button#bookmark-save.small.round 全変更保存
          %button#bookmark-delete.small.round.alert 削除
  .large-6.small-12.columns
    %input#map-search(type="text")
    %span#map-markers
      %span#map-markers-body

#map
.row
  .large-12.columns
    #map-menu.hide
      %dl.sub-nav
        %dt モード:
        %dd#mode-readonly.choice.active
          %a 閲覧
        %dd#mode-marker.choice
          %a マーカー挿入
      編集中のブックマーク: 
      %span.bookmark-title
      %button.small.round#bookmark-save 変更を保存

%script
  var g_map_tile_url='#{CONF_MAP_TILE_URL}'

%script#templ-map-marker-item(type='text/template')
  %span.marker-item(data-id='{{ data.id }}')
    %span.marker-edit.hide &sect;
    %span.marker-title {- data.title -}
    %span.marker-delete.hide &times;

%script#templ-map-marker-dialog(type='text/template')
  %form.cb-prompt-form
    %label タイトル
    %input.marker-title(type="text" name="title" value="{- data.title -}")
    %label 説明
    %textarea.marker-description(name="description")
      {- data.description -}
    %div
      %tt [テキスト](http://example.com/)
      でリンクを張れます
  %div
    %button.small.round.ok-button OK
    %button.small.round.cancel-button キャンセル
