- content_for :title do
  地図
- content_for :js_start do
  map
- content_for :css do
  map , /js/libs/leaflet/dist/leaflet
= haml :top_bar

.row
  .large-6.small-12.columns
    #bookmark-menu
      .row
        .large-8.small-8.columns
          %select#bookmark-list
        .large-4.small-4.columns(style="white-space: nowrap;")
          %button#bookmark-new.small.round 作成
          %button#bookmark-edit.small.round.hide 編集
      #bookmark-edit-buttons.row.hide
        .large-12.small-12.columns
          %a(href="#" data-dropdown="maps-usage") 使い方
          %ul#maps-usage.f-dropdown(data-dropdown-content)
            %div ・地図をクリックするとその位置にマーカー挿入
            %div ・マーカー削除は上の方のマーカー一覧の右の&times;をクリック
            %div ・「変更を保存」で現在の表示位置やマーカーなどを保存
          %button#bookmark-change-title.small.round タイトル編集
          %button#bookmark-save.small.round 全変更反映
          %button#bookmark-delete.small.round.alert 削除
  .large-6.small-12.columns
    #map-markers
      #map-markers-body

#map(style="height:720px; max-height: 90vh")
.row
  .large-12.columns
    #map-menu.hide
      %dl.sub-nav
        %dt モード:
        %dd#mode-readonly.choice.active
          %a 閲覧
        %dd#mode-marker.choice
          %a マーカー挿入
      編集中のブックマーク: 
      %span.bookmark-title
      %button.small.round#bookmark-save 変更を保存

%script
  var g_map_tile_url='#{CONF_MAP_TILE_URL}'

%script#templ-map-marker-item(type='text/template')
  %span.marker-item(data-id='{{ data.id }}')
    %span.marker-title {- data.title -}
    %span.marker-delete.hide &times;
