.row
  .large-7.columns
    %ul.breadcrumbs
      %li
        %a(href='result_list') 大会一覧
      %li
        %a(href='result_record') 個人記録
      %li
        %a(href='result_promotion') 昇級履歴
      %li
        %a(href='result_ranking') ランキング
  .large-5.columns
    .row.collapse
      %form#result-search-form
        .large-2.small-2.columns
          %label.inline.right 検索 :
        .large-10.small-10.columns
          %input#result-search-text(type='text' placeholder='選手名検索')
