- content_for :title do
  個人記録
- content_for :js_start do
  result_record
- content_for :css do
  result_record
= haml :top_bar
= haml :result_common

#result-record


%script#templ-record(type='text/template')
  #record-result
  #record-detail

%script#templ-record-result(type='text/template')
  .row
    .large-12.columns
      %span.record-user-name {- data.name -}
      %span.all-span ( {{ data.mindate }} &sim; {{ data.maxdate }} )
  .row
    .large-12.columns
      %dl#contest-span.sub-nav
        %dt 期間:
        %dd.choice(data-span='recent')
          %a 直近
        %dd.choice(data-span='full')
          %a 全期間
      #record-summary

%script#templ-record-summary-small(type='text/template')
  <% tmpl = _.template_braces($('#templ-record-sumary-yearly-prize').html()) %>
  %table#record-summary-small
    %thead
      %tr
        %th 計:
        %th.value {{data.sum.count}}大会
        %th.value {{data.sum.win}}勝
        %th.value {{data.sum.lose}}敗
        %th.value ({{data.sum.win_percent }})
        %th.value [{{data.sum.point}}pt]
        %th.value [{{data.sum.point_local}}kpt]
    %tbody
      <% _.each(data.aggr,function(x){ %>
      %tr.small-year
        %td {{x.year}}年
        %td.value {{x.count}}大会
        %td.value {{x.win}}勝
        %td.value {{x.lose}}敗
        %td.value ({{x.win_percent+"%" }})
        %td.value [{{x.point}}pt]
        %td.value [{{x.point_local}}kpt]
      <% if(!_.isEmpty(x.prize_contests)){ %>
      %tr.small-prize
        %td(colspan='7')
          {{tmpl({data:data,x:x})}}
      <% } %>
      <% }) %>

%script#templ-record-summary-large(type='text/template')
  <% tmpl = _.template_braces($('#templ-record-sumary-yearly-prize').html()) %>
  %table
    %thead
      %tr
        %th 年
        %th 大会
        %th 勝
        %th 敗
        %th 勝率
        %th(title='ポイント') pt
        %th(title='会内ポイント') kpt
        %th 入賞歴
    %tbody
      %tr.sum
        %td 合計
        %td.value {{data.sum.count}}
        %td.value {{data.sum.win}}
        %td.value {{data.sum.lose}}
        %td.value {{data.sum.win_percent }}
        %td.value {{data.sum.point}}
        %td.value {{data.sum.point_local}}
        %td 入賞: {{data.sum.prize_count}} 回
      <% _.each(data.aggr,function(x){ %>
      %tr
        %td {{x.year}}
        %td.value {{x.count}}
        %td.value {{x.win}}
        %td.value {{x.lose}}
        %td.value {{x.win_percent+"%" }}
        %td.value {{x.point}}
        %td.value {{x.point_local}}
        %td
          {{tmpl({data:data,x:x})}}
      <% }) %>

%script#templ-record-sumary-yearly-prize(type='text/template')
  <% _.each(x.prize_contests,function(e){ %>
  <% pr = data.prizes[e] %>
  <% dt=new Date(data.events[e].date);md=(dt.getMonth()+1)+"月"+(dt.getDate())+"日" %>
  %div
    {{ md }}
    %a(href='result#contest/{{e}}') {- data.events[e].name -}
    %span(class='{{pr.promotion}}') {- data.class_info[e].class_name + " " + _.show_prize(pr) -}
  <% }) %>


%script#templ-record-detail(type='text/template')
  .row
    .large-12.columns
      = haml :pagination
  .row
    .large-12.columns
      %table.chunk-body
        %tbody
          <% _.each(data.event_details,function(eid){ %>
          <% einfo = data.events[eid] %>
          %tr
            <% cinfo = data.class_info[eid] %>
            %td.leftmost.row-info(class='{{einfo.is_op?"is-opponent":""}}')
              %div
                %a(href='result#contest/{{eid}}') {{ einfo.name }}
              %div @ {{ einfo.date }}
              %div {{ cinfo.class_name }} {{ data.my_belongs[eid] }}
              <% if(data.prizes[eid]){ %>
              %div.prize {- _.show_prize(data.prizes[eid]) -}
              <% } %>
            <% games = data.games[eid] %>
            <% max_round = _.max(_.keys(games)) %>
            <% for(i=1;i<=max_round;i++){ %>
            <% if(!_.isUndefined(games[i])){ %>
            %td.result(class='result-{{games[i].result}}')
              %div.record-round-name
                \- {{ cinfo.round_name[i] || i + "回戦" }} -
              %div
                {- _.result_str(games[i].result) -} {- games[i].score_str -}
                %a(href='result_record#show/{{encodeURIComponent(games[i].opponent_name)}}') {- games[i].opponent_name -}
              %div
                {- games[i].opponent_belongs?"("+games[i].opponent_belongs+")":""-}
            <% }else{ %>
            %td.result-break
            <% } %>
            <% } %>
          <% }) %>
