- content_for :title do
  大会結果
- content_for :js_start do
  result
- content_for :css do
  result, event_detail, comment, attached
- content_for :haml do
  result_body,event_detail
= haml :top_bar
= haml :result_common

%script
  var g_points_str = '#{{single_point:G_SINGLE_POINT,single_point_local:G_SINGLE_POINT_LOCAL,team_point_local:G_TEAM_POINT_LOCAL}.to_json}';

