- content_for :title do
  大会結果
- content_for :js_start do
  result
- content_for :css do
  result, event_detail, comment
= haml :top_bar
= haml :result_common
#contest-result

%script#templ-contest-result(type='text/template')
  .row
    .large-8.columns
      %ul.pagination
        <% _.each(recent_list,function(x,i){ %>
        %li.contest-link(data-id='{-x.id-}' class='{{x.id==id?"current":""}}')
          <% if(i == 0 && x.id != id) { %>
          %a &lsaquo;
          <% }else if(i == recent_list.length - 1 && x.id != id) { %>
          %a &rsaquo;
          <% }else{ %>
          %a {- x.name -}
          <% } %>
        <% }) %>
    .large-4.columns
      <% if(!_.isEmpty(group)){ %>
      %a.small.button.split.dropdown
        %div#show-event-group 過去の結果
        %span(data-dropdown='contest-group')
      %ul#contest-group.f-dropdown
        <% _.each(group,function(x){ %>
        %li.contest-link(data-id='{-x.id-}')
          %a.ellipsis {- x.date -} {- x.name -}
        <% }) %>
      <% } %>
      %button.small.round#contest-add 大会追加
      %a(href='result/excel/{{id}}') 印刷用
  .row
    %div.contest-name-date
      %span.contest-name {- name -} 
      %span.contest-date @ {- date -}
  .row
    .section-container.tabs(data-section="tabs")
      %section
        %p.title(data-section-title)
          %a 結果
        .content(data-section-content)
          .row
            .large-12.columns
              %button.small.round#toggle-edit-mode(data-toggle-text='編集完了') 編集開始
              %button.small.round#edit-player 出場者編集
          #contest-result-body.row
      %section
        %p.title(data-section-title)
          %a 情報
        .content(data-section-content)
          #contest-info.row
      %section
        %p.title(data-section-title)
          %a
            コメント
            %span#event-comment-count
        .content(data-section-content)
          #event-comment.row

%script#templ-contest-chunk(type='text/template')
  .row
    .columns
      %table.chunk-body
        %thead.chunk-header
          %tr 
            %th.leftmost {{ _.show_header_left(data.header_left) }}
            <% _.each(data.rounds,function(xs){ %>
            %th.result
              <% _.each(xs,function(x){ %>
              %div {- x -}
              <% }) %>
              <% }) %>
        %tbody
        <% _.each(data.user_results,function(x){ %>
        %tr
          %td.leftmost.row-info
            %div
              %a(href='result_record#show/{{encodeURIComponent(x.user_name)}}') {- x.user_name -}
            %div
              <% if(x.prize){ %>
              %div.prize {- _.show_prize(x.prize) -}
              <% } %>
          <% _.each(x.game_results,function(y){ %>
          %td.result(class='result-{-y.result-}')
            %div
              {- _.result_str(y.result) -} {- y.score_str -}
              %a(href='result_record#show/{{encodeURIComponent(y.opponent_name)}}') {- y.opponent_name -}
            %div
              {- _.show_opponent_belongs(data.team_size,y.opponent_belongs) -}
          <% }) %>
        <% }) %>

= haml :event_detail

%script#templ-select-class(type='text/template')
  %select(name='contest_class')
    <% _.each(classes,function(x){ %>
    %option(value='{{x[0]}}') {-x[1]-}
    <% }) %>

%script#templ-single-player(type='text/template')
  .row#single-player
    %button.small.success.apply-edit 反映
    .columns
      <% select_classes = _.template_braces($("#templ-select-class").html())({classes:data.classes}) %>
      %form
        <% _.each(data.classes,function(x){ %>
        %fieldset
          %legend {- x[1] -}
          <% _.each(data.user_classes[x[0]],function(y){ %>
          %span.player
            %input(type='checkbox' data-id='{{y}}')
            {- data.users[y] -}
          <% }) %>
        <% }) %>
      .panel
        %input.player-to-add(type='text' placeholder='選手名') を
        %span.player-to-add-class
          {{select_classes}}
        に
        %button.small.round.add-player 追加
        ※ 複数追加する場合は空白で区切る
      .panel
        チェックした選手を 
        %span.player-to-move-class
          {{select_classes}}
        に
        %button.small.round.move-player 移動
      .panel
        チェックした選手を
        %button.small.round.alert.delete-player 削除
      .panel
        %input.class-to-add(type='text' placeholder='クラス名') を
        %span.add-class-target
          {{select_classes}}
        の
        %select.add-class-position
          %option(value='before') 前
          %option(value='after') 後
        に
        %button.small.round.add-class 追加
        ※ 複数追加する場合は空白で区切る

      .panel
        %span.class-to-delete
          {{select_classes}}
        を
        %button.small.round.alert.delete-class 削除
        
        

#container-result-edit.reveal-modal
