
#contest-result

%script#templ-contest-result(type='text/template')
  .row
    .large-8.columns
      %ul.pagination
        <% _.each(data.recent_list,function(x,i){ %>
        %li.contest-link(title='{{x.date}}' data-id='{{x.id}}' class='{{x.id==data.id?"current":""}}')
          <% if(!x.most_recent && i == 0 && x.id != data.id) { %>
          %a &lsaquo;
          <% }else if(i == data.recent_list.length - 1 && x.id != data.id) { %>
          %a &rsaquo;
          <% }else{ %>
          %a {- x.name -}
          <% } %>
        <% }) %>
    .large-4.columns
      <% if(!_.isEmpty(data.group)){ %>
      %a.small.button.split.dropdown
        %div#show-event-group 過去の結果
        %span(data-dropdown='contest-group')
      %ul#contest-group.f-dropdown
        <% _.each(data.group,function(x){ %>
        %li.contest-link(data-id='{-x.id-}')
          %a.ellipsis {- x.date -} {- x.name -}
        <% }) %>
      <% } %>
      %button.small.round#contest-add 大会追加
      %a(href='result/excel/{{data.id}}/{{data.date}}_{{encodeURIComponent(data.name)}}.xls') 印刷用
  .row
    %div.contest-name-date
      %span.event-symbol {{_.show_kind_symbol(data.kind,data.official) }}
      %span.contest-name {- data.name -}
      %span.contest-date @ {- data.date -}
  .row
    .section-container.tabs(data-section="tabs")
      %section.active
        %p.title(data-section-title)
          %a 結果
        .content(data-section-content)
          .row
            .large-12.columns
              %button.small.round#toggle-edit-mode(data-toggle-text='編集完了') 編集開始
              %button.small.round#edit-player 出場者編集
          #contest-result-body.row
      %section
        %p.title(data-section-title)
          %a 情報
        .content(data-section-content)
          #contest-info.row
      %section
        %p.title(data-section-title)
          %a
            コメント
            %span#event-comment-count
        .content(data-section-content)
          #event-comment.row

%script#templ-contest-chunk(type='text/template')
  .row(data-chunk-index='{{data.chunk_index}}')
    .columns
      %table.chunk-body
        %thead.chunk-header
          %tr
            %th.leftmost {{ _.show_header_left(data.header_left) }}
            <% _.each(data.rounds.concat([{hide:true}]),function(x,i){ %>
            %th.result.round-name(data-round='{{i+1}}' class='{{x.hide?"hide":""}}')
              %div {- x.name?x.name:((i+1)+"回戦") -}
              <% if(x.kind == "single"){ %>
              %div (個人戦)
              <% }else if(x.kind == "team"){ %>
              %div {- x.op_team_name -}
              <% } %>
            <% }) %>
        %tbody
        <% _.each(data.user_results,function(x){ %>
        %tr
          %td.leftmost.row-info(data-cuid='{{x.cuid}}')
            %div
              %a(href='result_record#show/{{encodeURIComponent(x.user_name)}}') {- x.user_name -}
            %div
              <% if(x.prize){ %>
              %div.prize {- _.show_prize(x.prize) -}
              <% } %>
          <% _.each(x.game_results,function(y){ %>
          %td.result(class='result-{-y.result-}')
            %div
              {- _.result_str(y.result) -} {- y.score_str -}
              %a(href='result_record#show/{{encodeURIComponent(y.opponent_name)}}') {- y.opponent_name -}
            %div
              {- _.show_opponent_belongs(data.team_size,_.pick(y,"opponent_order","opponent_belongs")) -}
              <% if(y.comment){ %>
              %span.result-comment.has-tip(data-tooltip title='{- y.comment -}') ※
              <% } %>
          <% }) %>
        <% }) %>

%script#templ-select(type='text/template')
  %select
    <% _.each(data,function(x){ %>
    %option(value='{{x[0]}}') {-x[1]-}
    <% }) %>

%script#templ-single-player(type='text/template')
  .row#single-player
    %button.small.success.apply-edit 反映
    .columns
      <% select_classes = _.template_braces($("#templ-select").html())({data:[["","--級名--"]].concat(data.classes)}) %>
      %form
        <% _.each(data.classes,function(x){ %>
        %fieldset
          %legend {- x[1] -}
          <% _.each(data.user_classes[x[0]],function(y){ %>
          %span.player
            %input(type='checkbox' data-id='{{y}}')
            {- data.users[y] -}
          <% }) %>
        <% }) %>
      %div ※ 選手名および級名を複数追加する場合は空白で区切る
      .panel
        %input.player-to-add(type='text' placeholder='選手名') を
        %span.player-to-add-belong
          {{select_classes}}
        に
        %button.small.round.add-player 追加
      .panel
        チェックした選手を
        %span.player-to-move-belong
          {{select_classes}}
        に
        %button.small.round.move-player 移動
      .panel
        チェックした選手を
        %button.small.round.alert.delete-player 削除
      .panel
        %input.class-to-add(type='text' placeholder='級名') を
        %span.add-class-target
          {{select_classes}}
        の
        %select.add-class-position
          %option(value='before') 前
          %option(value='after') 後
        に
        %button.small.round.add-class 追加

      .panel
        %span.class-to-delete
          {{select_classes}}
        を
        %button.small.round.alert.delete-class 削除

%script#templ-team-player(type='text/template')
  .row#team-player
    %button.small.success.apply-edit 反映
    .columns
      <% select_classes = _.template_braces($("#templ-select").html())({data:[["","--級名--"]].concat(data.classes)}) %>
      <% select_teams = _.template_braces($("#templ-select").html())({data:[["","--チーム名--"]].concat(_.pairs(data.teams))}) %>
      %form
        <% _.each(data.classes,function(x){ %>
        %fieldset
          %legend {- x[1] -}
          <% _.each(data.team_classes[x[0]],function(y){ %>
          %fieldset.team
            %legend {- data.teams[y] -}
            <% _.each(data.user_teams[y],function(z,i){ %>
            %span.player
              {{ _.make_checkbox(null,{'data-id':z})}}
              {- data.users[z] -}({{_.order_to_ja(i+1)}})
            <% }) %>
          <% }) %>
          <% _.each(data.neutral[x[0]],function(z){ %>
          %span.player
            %input(type='checkbox' data-id='{{z}}')
            {- data.users[z] -}
          <% }) %>
        <% }) %>
      %div ※ 選手名,チーム名,級名を複数追加する場合は空白で区切る
      %div ※ 将順変更するには同一チーム内で移動させる
      .panel
        %input.player-to-add(type='text' placeholder='選手名') を
        %span.player-to-add-belong
          {{select_teams}}
        に
        %button.small.round.add-player 追加
      .panel
        チェックした選手を
        %span.player-to-move-belong
          {{select_teams}}
        に
        %button.small.round.move-player 移動
      .panel
        チェックした選手を
        %button.small.round.delete-player.alert 削除
      .panel
        %input.team-to-add(type='text' placeholder='チーム名') を
        %span.team-to-add-class
          {{select_classes}}
        に
        %button.small.round.add-team 追加
      .panel
        %span.team-to-delete
          {{select_teams}}
        を
        %button.small.round.delete-team.alert 削除
      .panel
        %input.class-to-add(type='text' placeholder='級名') を
        %span.add-class-target
          {{select_classes}}
        の
        %select.add-class-position
          %option(value='before') 前
          %option(value='after') 後
        に
        %button.small.round.add-class 追加
      .panel
        %span.class-to-delete
          {{select_classes}}
        を
        %button.small.round.alert.delete-class 削除


%script#templ-edit-num-person(type='text/template')
  #edit-num-person
    %span 各級の出場人数
    <% _.each(data,function(x){ %>
    .row
      .small-3.columns
        %label.right.inline {- x.class_name -}
      .small-9.columns
        %input(type='text' data-class-id='{{x.class_id}}' value='{{x.num_person}}')
    <% }) %>
    %button.small.apply-edit 送信

%script#templ-edit-prize(type='text/template')
  #edit-prize
    .row
      .columns
        .label.round {- data.klass.class_name -} {- data.team_name -} 入賞／順位
    <% if(data.message){ %>
    .row
      .columns
        .message {{ data.message }}
    <% } %>
    <% if(data.team_name){ %>
    .row.collapse
      .large-2.small-3.columns
        %label.inline.right チーム成績 :
      .large-4.small-9.columns.left
        %input.team-prize(type='text' placeholder='入賞／順位' value='{- data.team_prize -}')
    %hr
    .row
      .columns
        %div 個人賞
    <% } %>
    <% _.each(data.list,function(x){ %>
    %form(data-cuid='{{x.cuid}}')
      .row.collapse
        .large-6.small-12.columns
          .row.collapse
            .small-5.columns
              %label.inline.right {- x.user_name -} :
            .small-7.columns
              %input(type='text' placeholder='入賞' name='prize' value='{- x.prize?x.prize.prize:"" -}')
        .large-6.small-12.columns
          .row.collapse
            <% if(!data.no_point){ %>
            .small-6.columns
              .row.collapse
                .small-6.columns
                  %label.inline.right ポイント
                .small-6.columns
                  {{ _.make_point_select('point','single_point',x.prize?x.prize.point:0) }}
            <% } %>
            .small-6.columns
              .row.collapse
                .small-6.columns
                  %label.inline.right 会内ポイント
                .small-6.columns
                  {{ _.make_point_select('point_local',data.point_local_key,x.prize?x.prize.point_local:0) }}
    <% }) %>
    .row
      %button.small.apply-edit 送信

%script#templ-edit-round(type='text/template')
  #edit-round
    .row.collapse
      .large-3.small-12.columns
        %span.header {- data.team_name || data.klass.class_name -} {- data.round_num -}回戦
      .large-4.small-12.columns
        .row.collapse
          .small-5.columns
            %label.inline.right 回戦名 :
          .small-7.columns
            %input.round-name(type='text' placeholder='{{ data.mode=="team"?"決勝／順位決定戦など":"決勝or準決勝" }}' value='{- data.round_name -}')
      .large-5.small-12.columns
        <% if(data.mode=="team"){ %>
        .row.collapse
          .small-3.columns
            %dl#round-kind.sub-nav.right
              %dd.choice(data-kind='team' class='{{data.round_kind=="team"?"active":""}}')
                %a 団体
              %dd.choice(data-kind='single' class='{{data.round_kind=="single"?"active":""}}')
                %a 個人
          <% if(data.round_kind=="team"){ %>
          .small-9.columns
            .row.collapse
              .small-4.columns
                %label.inline.right 相手チーム :
              .small-8.columns
                %input.op-team-name(type='text' placeholder='チーム名' value='{{ data.op_team_name  }}')
          <% } %>
        <% }else{ %>
        &nbsp;
        <% }%>
    <% _.each(data.games,function(g){ %>
    %form(data-cuid='{{g.cuid}}')
      .row.collapse.each-result(class='{{g.prev_win?"":"hide"}}')
        .large-4.small-12.columns
          .row.collapse
            .small-4.columns
              %label.inline.right {- g.user_name -} :
            .small-4.columns
              {{ _.make_result_select(g.result) }}
            .small-4.columns
              %input(type='text' name='score_str' value='{- g.score_str -}' placeholder='枚数')
        .large-4.small-12.columns
          .row.collapse
            .small-5.columns
              %input(type='text' name='opponent_name' value='{- g.opponent_name -}' placeholder='対戦相手')
            <% if(data.round_kind == "team"){ %>
            .small-7.columns
              {{ _.make_order_num_select(g) }}
            <% }else if(data.round_kind == "single"){ %>
            .small-4.columns
              %input(type='text' name='opponent_belongs' value='{- g.opponent_belongs -}' placeholder='チーム名')
            .small-3.columns
              {{ _.make_order_num_select(g) }}
            <% }else{ %>
            .small-7.columns
              %input(type='text' name='opponent_belongs' value='{- g.opponent_belongs -}' placeholder='所属会')
            <% } %>
        .large-4.small-12.columns
          %input(type='text' name='comment' value='{- g.comment -}' placeholder='コメント')
    <% }) %>
    .row
      %button.small.apply-edit 送信
      <% if(data.has_prev_lose){ %>
      %button.small.round.right.success.show-loser 負けた人も表示
      <% } %>

#container-result-edit.reveal-modal
