- content_for :title do
  大会結果
- content_for :js_start do
  result
- content_for :css do
  result, event_detail
= haml :top_bar, locals: {user:user}

.row
  .large-6.small-6.columns
    %ul.breadcrumbs
      %li
        %a 大会一覧
      %li
        %a 個人記録
      %li
        %a 昇級履歴
      %li
        %a ランキング
  .large-6.small-6.columns
    .row
      .large-5.small-5.columns
        %input(type='text' placeholder='検索文字列')
      .large-3.small-3.columns
        %select
          %option(value='name')選手名
          %option(value='event')大会名
          %option(value='belongs')所属会
      .large-2.small-2.columns
      %input(type='submit' value='検索')
#contest-result

%script#templ-contest-result(type='text/template')
  .row
    .large-8.small-8.columns
      %ul.pagination
        %li.arrow
          %a &lsaquo;
        <% _.each(recent_list,function(x){ %>
        %li.contest-link(data-id='{{x.id}}')
          %a {{ x.name }}
        <% }) %>
        %li.arrow
          %a &rsaquo;
    .large-4.small-4.columns
      %a.small.button.dropdown(href='#' data-dropdown='contest-group') 過去の大会
      %ul#contest-group.f-dropdown
        <% _.each(group,function(x){ %>
        %li.contest-link(data-id='{{x.id}}')
          %a.ellipsis {{ x.date }} {{ x.name }}
        <% }) %>
  .row
    %div.contest-name-date
      %span.contest-name {{ name }} 
      %span.contest-date @ {{ date }}
  .row
    .section-container.tabs(data-section="tabs")
      %section
        %p.title(data-section-title)
          %a 試合結果
        .content(data-section-content)
          #contest-result-body.row
      %section
        %p.title(data-section-title)
          %a
            コメント (
            %span#event-comment-count
            )
        .content(data-section-content)
          #event-comment.row

%script#templ-contest-chunk(type='text/template')
  .row
    .columns
      %table.chunk-body
        %thead.chunk-header
          %tr 
            %th.leftmost {{ _.show_header_left(data.header_left) }}
            <% _.each(data.rounds,function(xs){ %>
            %th.result
              <% _.each(xs,function(x){ %>
              %div {{ x }}
              <% }) %>
              <% }) %>
        %tbody
        <% _.each(data.user_results,function(x){ %>
        %tr
          %td.leftmost.user-name
            %div {{ x.user_name }}
            %div
              <% if(x.prize){ %>
              %div.prize {{ _.show_prize(x.prize) }}
              <% } %>
          <% _.each(x.game_results,function(y){ %>
          %td.result(class='result-{{y.result}}')
            %div
              {{ _.result_str(y.result) }} {{ y.score_str }} {{ y.opponent_name }}
            %div
              {{ _.show_opponent_belongs(data.team_size,y.opponent_belongs) }}
          <% }) %>
        <% }) %>

= haml :event_detail
