- content_for :title do
  予定表
- content_for :js_start do
  schedule
- content_for :css do
  schedule
= haml :top_bar
.row
  #schedule

#container-detail.reveal-modal

%script#templ-cal-header(type='text/template')
  .year-month
    %button#prev-month.small.round 前へ
    %span.year
      <%= year %> 年
    %span.mon
      <%= mon %> 月
    %button#next-month.small.round 次へ
    %button.toggle-edit-info.small.round 祝日編集

%script#templ-cal-edit-header(type='text/template')
  %span.year
    <%= year %> 年
  %span.mon
    <%= mon %> 月
  %button#edit-info-done.small.round 編集完了
  %button.toggle-edit-info.small.round キャンセル


%script#templ-cal(type='text/template')
  %ul#cal-body.large-block-grid-7.small-block-grid-4
    %li 日
    %li 月
    %li 火
    %li 水
    %li 木
    %li 金
    %li 土
%script#templ-item(type='text/template')
  .info-item
    %span.day
      <%= day %>
    %span.info
      <%= info ? info.names.join(" / ") : "" %>
    .item
      <% _.each(item,function(o){ %>
      <%= o.title %>
      <% }) %>
%script#templ-item-edit-info(type='text/template')
  .info-item-edit
    %span.day
      <%= day %>
    %input.holiday(type='checkbox')
    %span 休日
    %textarea.info
      <%= info ? info.names.join("\n") : "" %>


%script#templ-detail(type='text/template')
  .year-month-day
    <%= year %> 年 <%= mon %> 月 <%= day %> 日
  .body

%script#templ-detail-item(type='text/template')
  <%= title %> @ <%= place %> => <%= start_at %> 〜 <%= end_at %>
