%script#templ-schedule-item(type='text/template')
  .info-item
    %span.day
      <%- day %>
    %span.info
      <%- ! _.isEmpty(info) ? info.names.join(" / ") : "" %>
    .event
      <% _.each(event,function(o){ %>
      .title.ellipsis
        <%- o.name %>
      <% }) %>
    .item
      <% _.each(item,function(o){ %>
      .title.ellipsis
        <%- o.name %>
      <% }) %>
%script#templ-schedule-item-edit-info(type='text/template')
  .info-item-edit
    %span.day
      <%- day %>
    %input.holiday(type='checkbox')
    %span 休日
    %textarea.info
      <%- info ? info.names.join("\n") : "" %>
%script#templ-schedule-detail(type='text/template')
  <% if(data.is_holiday){ %>
  .is-holiday.label.round.alert.left 祝日
  <% } %>
  .year-month-day.left
    %span.year <%- data.year %>
    年
    %span.mon <%- data.mon %>
    月
    %span.day <%- data.day %>
    日 (
    %span.wday <%- data.wday %>
    )
  <% if(data.day_infos){ %>
  .day-infos.left
    <%- data.day_infos.join(", ") %>
  <% } %>
  .right
    %button#add-new-item.small.round
      予定追加
  #container-new-item
  .body

%script#templ-schedule-detail-event(type='text/template')
  %hr
  .schedule-detail-event.clearfix
    .left
      <%= _.show_item_detail(data) %>
    .right
      %span.detail.button.small
        詳細
      %span.comment.button.small
        コメント
        %span.comment-count (<%- data.comment_count %>)

%script#templ-schedule-detail-item(type='text/template')
  %hr
  .detail-item.clearfix
    .info.left
      <%= _.show_item_detail(data) %>
    .right
      %button.edit.small.round
        編集

%script#templ-schedule-detail-item-edit(type='text/template')
  %hr
  .detail-item-edit
    %form.item-detail-form.left.custom
      .row
        .large-12.columns
          .row
            .large-6.columns
              .row
                .large-9.columns
                  %input(type='text' name='name' value='{- data.name -}' placeholder='タイトル')
                .large-3.columns
                  %input(type='checkbox' name='emph_name' data-checkbox-checked='{- data.emph_name?"true":"false" -}') 強調

            .large-6.columns
              .row
                .large-6.columns
                  %select(name='kind')
                    %option 練習
                    %option コンパ
                    %option その他 
                .large-6.columns
                  %input.bottom(type='checkbox' name='not_public') 非公開
      .row
        .large-12.columns
          .row
            .large-9.columns
              %input(type='text' name='place' value='{- data.place -}' placeholder='場所' )
            .large-3.columns
              %input(type='checkbox' name='emph_place' data-checkbox-checked='{- data.emph_place?"true":"false" -}') 強調
      .row
        .large-6.small-6.columns
          .row
            .large-9.columns
              %input(type='text' name='start_at' value='{- data.start_at -}' placeholder='開始 ( hh:mm )' )
            .large-3.columns
              %input(type='checkbox' name='emph_start_at' data-checkbox-checked='{- data.emph_start_at?"true":"false" -}') 強調
        .large-6.small-6.columns
          .row
            .large-9.columns
              %input(type='text' name='end_at' value='{- data.end_at -}' placeholder='終了 ( hh:mm )' )
            .large-3.columns
              %input(type='checkbox' name='emph_end_at' data-checkbox-checked='{- data.emph_end_at?"true":"false" -}') 強調
      .row
        .large-12.small-12.columns
          %textarea(cols='100' rows='8' name='description' placeholder='備考') {- data.description -}
    .right
      %button.edit-done.small.round
        編集完了
      %button.edit-cancel.small.round
        キャンセル

#container-schedule-detail.reveal-modal
