.row
  #schedule
  #schedule-event-done

%script#templ-cal-header(type='text/template')
  .row
    .large-4.small-2.columns
      <% if(!g_public_mode){ %>
      %button.show-done-events.small.success 過去の行事
      <% }else{ %>
      &nbsp;
      <% } %>
    .large-4.small-6.columns.year-month
      %button#prev-month.small.button-light &laquo;
      %span.year
        <%= year %>
      年
      %span.mon
        <%= mon %>
      月
      %button#next-month.small.button-light &raquo;
    .large-4.small-4.columns
      <% if(!g_public_mode){ %>
      .container-btn
        %button.toggle-edit-info.small.round 祝日編集
        %button.start-multi-edit.small.round 一括追加
      .container-multi-edit
      <% }else{ %>
      &nbsp;
      <% } %>

%script#templ-multi-edit(type='text/template')
  %a(href="#" data-dropdown="multi-edit-usage") 使い方
  %ul(id="multi-edit-usage" class="f-dropdown" data-dropdown-content)
    %div (1) コピー元の予定を選択(前の月でも可)
    %div (2) 予定をコピーしたい日をクリック
    %div (3) 反映ボタンを押す
  %button#multi-edit-apply.small.round 反映
  %button#multi-edit-cancel.small.round キャンセル

%script#templ-cal-edit-header(type='text/template')
  %span.year
    <%= year %> 年
  %span.mon
    <%= mon %> 月
  %button#edit-info-done.small.round 編集完了
  %button.toggle-edit-info.small.round キャンセル
  ※ 祝日は一行に一つ入れて下さい

%script#templ-cal(type='text/template')
  %ul#cal-body.large-block-grid-7.small-block-grid-4

%script#templ-schedule-event-done(type='text/template')
  %h3 過去の行事

  = haml :pagination
  <% templ = _.template_braces($("#templ-schedule-detail-event").html()) %>
  %ul#cal-body.large-block-grid-2.small-block-grid-1
    <% _.each(data.list,function(x){ %>
    %li
      {{ templ({data:_.extend(x,{show_date:true})}) }}
    <% }) %>

#container-event-detail.reveal-modal
#container-event-comment.reveal-modal
