- content_for :title do
  予定表
- content_for :js_start do
  schedule
- content_for :css do
  schedule, schedule_item, event_detail, comment
= haml :top_bar, locals: {user: user}
.row
  #schedule

%script#templ-cal-header(type='text/template')
  .row
    .large-4.columns.year-month.large-offset-4
      %button#prev-month.small.success &laquo;
      %span.year
        <%= year %>
      年
      %span.mon
        <%= mon %>
      月
      %button#next-month.small.success &raquo;
    .large-4.columns
      .container-btn
        %button.toggle-edit-info.small.round 祝日編集
        %button.start-multi-edit.small.round 一括追加
      .container-multi-edit

%script#templ-multi-edit(type='text/template')
  %a(href="#" data-dropdown="multi-edit-usage") 使い方
  %ul(id="multi-edit-usage" class="f-dropdown" data-dropdown-content)
    %div (1) コピー元の予定を選択(前の月でも可)
    %div (2) 予定をコピーしたい日をクリック
    %div (3) 反映ボタンを押す
  %button#multi-edit-apply.small.round 反映
  %button#multi-edit-cancel.small.round キャンセル

%script#templ-cal-edit-header(type='text/template')
  %span.year
    <%= year %> 年
  %span.mon
    <%= mon %> 月
  %button#edit-info-done.small.round 編集完了
  %button.toggle-edit-info.small.round キャンセル

%script#templ-cal(type='text/template')
  %ul#cal-body.large-block-grid-7.small-block-grid-4

#container-event-detail.reveal-modal
#container-event-comment.reveal-modal

= haml :schedule_item
= haml :event_detail
