- content_for :title do
  予定表
- content_for :js_start do
  schedule
- content_for :css do
  schedule, schedule_item, event_detail, comment, attached
- content_for :haml do
  schedule_body, schedule_item, event_detail
= haml :top_bar
