- content_for :title do
  トップ
- content_for :js_start do
  top
- content_for :css do
  top, schedule_item, event_detail
= haml :top_bar, locals: {user:user}

.row
  .large-6.small-6.columns
    %ul#schedule-panel.large-block-grid-3.small-block-grid-3

.row
  #event-list

%script#templ-event-list(type='text/template')
  %dl#event-order.sub-nav
    %dt 順序:
    %dd.choice(data-order='date')
      %a 開催日
    %dd.choice(data-order='deadline_day')
      %a 締切日
    %dd.choice(data-order='created_at')
      %a 追加日
    %dd.choice(data-order='latest_comment_date')
      %a 最終書込
  - if user.admin
    .row
      %button.small.round#add-comment 大会追加
      %button.small.round#add-event 行事追加
  %ul.event-body.large-block-grid-2.small-block-grid-1

%script#templ-event-item(type='text/template')
  .panel.event-item
    .row
      .large-12.columns.event-name <%= data.name %>
    .row
      .large-7.columns
        開催日: <%= _.show_date(data.date) %>
      .large-5.columns.deadline 締切: <%= data.deadline %> 
    .row
      .large-12.columns
        .event-choice
    .row
      .large-4.columns
        登録数:
        %span.participant-count <%= data.participant_count %>
        名
      .large-8.columns.buttons
        %button.button-custom.show-detail
          詳細
        %span.button-custom.show-comment
          コメント <%= _.show_new_comment(data.comment_count,data.has_new_comment) %>

%script#templ-event-choice(type='text/template')
  <% _.each(data,function(d){ %>
  %dd.choice(data-id='{{d.id}}' class='positive-{{d.positive}}')
    %a {{ d.name }}
  <% }) %>

%script#templ-sticky-alert(type='text/template')
  #sticky-alert.alert-box.success(data-alert)
    .content
    %a.close &times;

#container-event-detail.reveal-modal
#container-event-comment.reveal-modal

= haml :schedule_item
= haml :event_detail

#sticky-alert-container
