- content_for :title do
  トップ
- content_for :js_start do
  top
- content_for :css do
  top, schedule_item, event_comment
= haml :top_bar, locals: {user:user}

.row
  .large-6.small-6.columns
    %ul#schedule-panel.large-block-grid-3.small-block-grid-3

.row
  #event-list

%script#templ-event-list(type='text/template')
  %dl#event-order.sub-nav
    %dt 順序:
    %dd.choice(data-order='date')
      %a 開催日
    %dd.choice(data-order='deadline_day')
      %a 締切日
    %dd.choice(data-order='created_at')
      %a 追加日
    %dd.choice(data-order='not_chosen')
      %a 未選択
  %ul.event-body.large-block-grid-2.small-block-grid-1

%script#templ-event-item(type='text/template')
  .panel
    %div
      <%= data.name %> @ <%= data.date %> - <%= data.deadline %> 
    %div
      登録数:
      %span.participant-count <%= data.participant_count %>
      %button.small.show-detail
        詳細
      %span.button.small.show-comment
        コメント 
        %span.comment-count (<%= data.comment_count %>)
    .event-choice

%script#templ-event-choice(type='text/template')
  <% _.each(data,function(d){ %>
  %dd.choice(data-id='{{d.id}}')
    %a {{ d.name }}
  <% }) %>

%script#templ-sticky-alert(type='text/template')
  #sticky-alert.alert-box.success(data-alert)
    .content
    %a.close &times;


#container-event-detail.reveal-modal
#event-comment.reveal-modal

= haml :schedule_item
= haml :event_comment
= haml :event_detail

#sticky-alert-container
