- content_for :title do
  トップ
- content_for :js_start do
  top
- content_for :css do
  top, schedule_item, event_detail, comment
= haml :top_bar

.row
  .large-6.columns
    .panel.top-message
      #newly-message

  .large-6.columns
    %ul#schedule-panel.large-block-grid-3.small-block-grid-3

#event-list

%script#templ-event-list(type='text/template')
  .row
    .large-6.columns
      .panel.deadline-message.hide
        .header 締切が迫っています
    .large-6.columns
      - if daily_photo.nil?.!
        %div.right.daily-album-photo
          %div 今日の一枚
          %div
            <%= _.album_thumb(JSON.parse(g_daily_photo_str)) %>
  .row
    .large-12.columns
      - if @user.admin
        %div.left
          %button.small.round#add-contest 大会追加
          %button.small.round#add-event 行事追加
      %dl#event-order.sub-nav.right
        %dt 順序:
        %dd.choice(data-order='date')
          %a 開催日
        %dd.choice(data-order='deadline_day')
          %a 締切日
        %dd.choice(data-order='created_at')
          %a 追加日
        %dd.choice(data-order='last_comment_date')
          %a 最終書込
  .row
    .large-12.columns
      %ul.event-body.large-block-grid-2.small-block-grid-1

%script#templ-event-abbrev(type='text/template')
  .row.collapse.event-item
    .large-4.columns
      %a.show-detail
        <%- data.name %>
    .large-3.columns
      .deadline
        <%= data.deadline_str %>
    .large-5.columns
      .event-choice

%script#templ-event-item(type='text/template')
  .panel.event-item(data-id='{{data.id}}' class='{{data.public?"":"private"}}')
    .row.event-name-row
      .large-12.columns
        %span {{ _.show_kind_symbol(data.kind,data.official) }}
        %span.event-name {- data.name -}
    .row
      .large-7.columns
        開催日: {{ _.show_date(data.date) }}
      .large-5.columns.deadline(class='{{data.forbidden?"forbidden":""}}') 締切: {{ data.deadline_str }}
    .row.deadline-row
      .large-12.columns
        .event-choice
    .row
      .large-4.columns
        登録数:
        %span.participant-count {{ data.participant_count }}
        名
      .large-8.columns.buttons
        <% if(data.editable){ %>
        %button.button-light.show-edit 編集
        <% } %>
        <% if(data.event_group_id){ %>
        %button.button-light.show-group
          過去の結果
        <% } %>
        %button.button-light.show-detail
          詳細
        %span.button-light.show-comment
          コメント
          %span.event-comment-count {{ _.show_new_comment(data) }}

%script#templ-event-choice(type='text/template')
  <% _.each(data,function(d){ %>
  %dd.choice(data-id='{-d.id-}' class='positive-{-d.positive-}')
    %a {- d.name -}
  <% }) %>

%script#templ-sticky-alert(type='text/template')
  #sticky-alert.alert-box.success(data-alert)
    .content
    %a.close &times;

%script#templ-newly-message(type='text/template')
  %div
    最終ログイン: 
    %span.last-login {{ data.last_login[0] }}
    <% if(data.last_login[1] >= 5){ %>
    %span.login-elapsed ( +{{data.last_login[1]}}分 )
    <% } %>
    , 今月ログイン: 
    %span.log-mon {{ data.log_mon }}

  #event-new.link-detail
    {{ _.show_news(data.new_events,"name","新規大会行事追加%%件","top#event-detail/%%")  }}
  #bbs-new
    {{ _.show_news(data.bbs,"title","掲示板に新着%%件","bbs")  }}
  #event-comment-new
    {{ _.show_news(data.event_comment,"name","大会行事コメントに新着%%件","top#event-comment/%%")  }}
  #result-comment-new
    {{ _.show_news(data.result_comment,"name","大会結果コメントに新着%%件","result#contest/%%")  }}
  #ev-done-comment
    {{ _.show_news(data.ev_done_comment,"name","過去行事コメントに新着%%件","schedule#ev_done")  }}
  #wiki-comment-new
    {{ _.show_news(data.wiki,"title","Wikiコメントに新着%%件","wiki#page/%%")  }}
  #event-participant-new.link-detail
    <% if(!_.isEmpty(data.participants)){ %>
    大会行事の新規登録者:
    <% _.each(data.participants,function(x){ %>
    %div
      %a(href="top#event-detail/{{x[0]}}") {- x[1] -}
      &rArr; {- x[2].join(", ") -}
    <% }) %>
    <% } %>


#container-event-detail.reveal-modal
#container-event-comment.reveal-modal

= haml :schedule_item
= haml :event_detail

#sticky-alert-container

%script
  var g_daily_photo_str='#{daily_photo.to_json}';

