%nav.top-bar(data-options="custom_back_text:false")
  %section.top-bar-section
    %ul.title-area
      %li.name
        %li.toggle-topbar.menu-icon
          %a(href)
            %span Menu
    %ul.left
      %li
        %a(href="/top") TOP
    %ul.left
      %li
        %a(href="/bbs") 掲示板
    %ul.left
      %li
        %a(href="/result") 大会結果
    %ul.left
      %li
        %a(href="/cal") 予定表
    %ul.left
      %li
        %a(href="/wiki") Wiki
    %ul.left
      %li
        %a(href="/album") アルバム
    %ul.left
      %li
        %a(href="/addr") 名簿
    %ul.left
      %li.has-dropdown
        %a その他
        %ul.dropdown
          %li
            %a(href="/config") 設定
          %li
            %a(href="/bts") 要望・バグ報告
          %li
            %a(href="/user/logout") ログアウト
