%nav.navbar
	%a.nav-item(href="/top") [TOP]
	%a.nav-item(href="/bbs") [掲示板]
	%a.nav-item(href="/result") [大会結果]
	%a.nav-item(href="/schedule") [予定表]
	%a.nav-item(href="/wiki") [Wiki]
	%a.nav-item(href="/album") [Album]
	%a.nav-item(href="/addrbook") [名簿]
