%nav.navbar.navbar-expand-lg.navbar-light.bg-light
    -# %span.navbar-brand.mb-0.h1 景虎

    %button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon

    %div#navbarContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
            %li.nav-item
                %a#top.nav-link(href="/top") TOP
            %li.nav-item
                %a#bbs.nav-link(href="/bbs") 掲示板
            %li.nav-item
                %a#result.nav-link(href="/result") 大会結果
            %li.nav-item
                %a#schedule.nav-link(href="/schedule") 予定表
            %li.nav-item
                %a#wiki.nav-link(href="/wiki") Wiki
            %li.nav-item
                %a#album.nav-link(href="/album") Album
            %li.nav-item
                %a#addrbook.nav-link(href="/addrbook") 名簿
