- content_for :title do
  Wiki
- content_for :js_start do
  wiki
- content_for :css do
  wiki, comment
= haml :top_bar

#wiki-panel

.row
  .large-12.columns
    .section-container.auto(data-section)
      %section
        %p.title(data-section-title)
          %a#section-page(href="#") ページ
        .content(data-section-content)
          %p
            #wiki-item
            #wiki-edit
      %section
        %p.title(data-section-title)
          %a(href="#")
            %span.hide-for-all
              コメント ( 
              %span#wiki-comment-count
              )
        .content(data-section-content)
          %p
            #wiki-comment
      %section
        %p.title(data-section-title)
          %a(href="#")
            %span.hide-for-all
              添付ファイル
        .content(data-section-content)
          %p
            #wiki-attached
      %section
        %p.title(data-section-title)
          %a(href="#")
            %span.hide-for-all 履歴
        .content(data-section-content)
          %p
            #wiki-log

%script#templ-wiki-panel(type='text/template')
  .row.wiki-panel
    .large-10.columns
      .viewlog
        .left.wiki-title {- data.title -}
        <% _.each(viewlog,function(x){ if(x[0]!=data.id){ %>
        %a.left(href='wiki#page/{{x[0]}}') {- x[1] -}
        <% }}) %>
    .large-2.columns
      %button#edit-new.small.round.right 新規作成

%script#templ-wiki-item(type='text/template')
  .row
    .large-12.columns
      <% if(data.id != "all"){ %>
      %button#edit-start.small.round 編集
      <% } %>
      {{ data.html }}

%script#templ-wiki-preview(type='text/template')
  .row
    .large-12.columns
      <%= data.html %>

%script#templ-wiki-edit(type='text/template')
  .row
    .large-12.columns
      %button#edit-cancel.small.round キャンセル
      %button#edit-preview.small.round プレビュー
      %button#edit-done.small.round 更新
      %button#delete-wiki.right.small.round.alert 削除
  %form#wiki-edit-form
    .row
      .large-12.columns
        %input(type='text' name='title' placeholder='タイトル' value='{-data.title-}')
    .row
      .large-12.columns
        %textarea(name='body' rows=60 placeholder='本文') {- data.body -}


%script#templ-wiki-attached(type='text/template')
  .row
    .large-12.columns
      %button#toggle-attached.small.round(data-toggle-text='キャンセル') ファイル添付
      %form#attached-form.hide(action='wiki/attached/{{data.item_id}}' method='post' enctype='multipart/form-data' target='dummy-iframe')
        %fieldset
          %legend ファイル添付
          %label ファイル
          %input(type='file' name='file')
          %label 説明
          %input(type='text' name='description')
          %input(type='submit' value='送信')
      %iframe(name='dummy-iframe' id='dummy-iframe' style='display:none;')

  .row
    .large-12.columns
      <% if(data.pages > 1){ %>
      %ul.pagination
        <% for(i=0;i<data.pages;i++){ %>
        %li(class='{{i+1==data.cur_page?"current":""}}')
          %a.page(data-page='{{i+1}}') {{i+1}}
        <% } %>
      <% } %>
      %table
        <% _.each(data.list,function(x){ %>
        %tr
          %td.filename
            %a(href='static/wiki/attached/{{x.id}}') {- x.orig_name -}
          %td.size
            {{_.show_size(x.size)}}
          %td.date
            {{x.date}}
          %td {{x.description}}
        <% }) %>

#container-wiki-preview.reveal-modal

= haml :comment
