- content_for :title do
  Wiki
- content_for :js_start do
  wiki
- content_for :css do
  wiki
= haml :top_bar

#wiki-item

#wiki-attached

%script#templ-wiki-item(type='text/template')
  .row
    .large-12.columns
      <%= data.html %>

%script#templ-wiki-attached(type='text/template')
  .row
    .large-12.columns
      %form#attached-form(action='/wiki/attached/{{data.item_id}}' method='post' enctype='multipart/form-data')
        %fieldset
          %legend 添付ファイル
          %label ファイル
          %input(type='file' name='file')
          %label 説明
          %input(type='text' name='description')
          %input(type='submit' value='送信')


  .row
    .large-12.columns
      %ul.pagination
        <% for(i=0;i<data.pages;i++){ %>
        %li(class='{{i+1==data.cur_page?"current":""}}')
          %a.page(data-page='{{i+1}}') {{i+1}}
        <% } %>
      %table
        <% _.each(data.list,function(x){ %>
        %tr
          %td.filename
            %a(href='/static/wiki/attached/{{x.id}}') {- x.orig_name -}
          %td.size
            {{_.show_size(x.size)}}
          %td.date
            {{x.date}}
          %td {{x.description}}
        <% }) %>
