- content_for :title do
  Wiki
- content_for :js_start do
  wiki
- content_for :css do
  wiki
= haml :top_bar, locals: {user: user}

#wiki-item

%script#templ-wiki-item(type='text/template')
  .row
    .large-12.columns
      <%= data.html %>
