!!!
%html
  %head
    %base(href='/mobile/')
    %meta(name="robots" content="noindex,nofollow,noarchive")
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %title #{G_APP_NAME} for mobile
  %body
    %a(name="top")
    = yield
    %div
      %a(href="#{env["REQUEST_URI"]}#top") [一番上へ]

