%form(method='post' action='/mobile/')
  - if @message
    %div
      エラー: #{@message}
  %div
    - if @uid
      ユーザ名: #{User.get(@uid).name}
      %a(href='?reset=true') [別ユーザでログイン]
      %input(type='hidden' name='uid' value='#{@uid}')
    - else
      ユーザ名をひらがなで決まり字まで:
      %input(type='text' name='furigana' value='#{params[:furigana]}')
  %div 
    パスワード:
    %input(type='password' name='password')
  %div
    %input(type='submit' value='送信')

