.gbase{
  &.thumbnail{
    display: inline-block;
  }
}
.user-attr-elem{
  display: inline-block;
  font-size: 90%;
  border: 1px dotted gray;
  padding: 3px;
  .user-attr-elem-key{
    color: gray;
  }
}
