.gbase{
  border: 1px dotted gray;
  padding: 3px;
  cursor: pointer;
  .date{
    color: maroon;
  }
  .count{
    color: #030;
  }
  &.group,&.year{
    background-color: #DDF;
    &:hover{
      background-color: #DFF;
    }
  }
  &.item{
    background-color: #FFD;
    &:hover{
      background-color: #FFB;
    }
  }
  &.thumbnail{
    background-color: #FFD;
    &:hover{
      background-color: #FFB;
    }
  }
}
