.gbase{
  border: 1px dotted gray;
  padding: 3px;
  cursor: pointer;
  .date{
    color: maroon;
    text-shadow: 1px 1px 1px gray;
  }
  .count{
    color: #4028A4;
    text-shadow: 1px 1px 1px gray;
  }
  &.group,&.years{
    background-color: #FFE8D8;
    &:hover{
      background-color: #DFF;
    }
  }
  &.item{
    background-color: #FFD;
    &:hover{
      background-color: #FFB;
    }
  }
  &.thumbnail{
    background-color: #FFD;
    &:hover{
      background-color: #FFB;
    }
  }
}
