// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "../../public/js/libs/foundation/scss/normalize";

// Comment out this import if you are customizing you imports below
// @import "../../public/js/libs/foundation/scss/foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "../../public/js/libs/foundation/scss/foundation/components/global"; // *always required
@import "../../public/js/libs/foundation/scss/foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "../../public/js/libs/foundation/scss/foundation/components/grid-5";
//

@import "../../public/js/libs/foundation/scss/foundation/components/visibility";
@import "../../public/js/libs/foundation/scss/foundation/components/block-grid";
@import "../../public/js/libs/foundation/scss/foundation/components/type";
@import "../../public/js/libs/foundation/scss/foundation/components/buttons";
@import "../../public/js/libs/foundation/scss/foundation/components/forms"; // *requires components/buttons
// @import "../../public/js/libs/foundation/scss/foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "../../public/js/libs/foundation/scss/foundation/components/button-groups"; // *requires components/buttons
@import "../../public/js/libs/foundation/scss/foundation/components/dropdown-buttons"; // *requires components/buttons
@import "../../public/js/libs/foundation/scss/foundation/components/split-buttons"; // *requires components/buttons
// @import "../../public/js/libs/foundation/scss/foundation/components/flex-video";
@import "../../public/js/libs/foundation/scss/foundation/components/section";
@import "../../public/js/libs/foundation/scss/foundation/components/top-bar";  // *requires components/grid
// @import "../../public/js/libs/foundation/scss/foundation/components/orbit";
@import "../../public/js/libs/foundation/scss/foundation/components/reveal";
// @import "../../public/js/libs/foundation/scss/foundation/components/joyride";
@import "../../public/js/libs/foundation/scss/foundation/components/clearing";
@import "../../public/js/libs/foundation/scss/foundation/components/alert-boxes";
@import "../../public/js/libs/foundation/scss/foundation/components/breadcrumbs";
// @import "../../public/js/libs/foundation/scss/foundation/components/keystrokes";
@import "../../public/js/libs/foundation/scss/foundation/components/labels";
// @import "../../public/js/libs/foundation/scss/foundation/components/inline-lists";
@import "../../public/js/libs/foundation/scss/foundation/components/pagination";
@import "../../public/js/libs/foundation/scss/foundation/components/panels";
// @import "../../public/js/libs/foundation/scss/foundation/components/pricing-tables";
// @import "../../public/js/libs/foundation/scss/foundation/components/progress-bars";
// @import "../../public/js/libs/foundation/scss/foundation/components/side-nav";
@import "../../public/js/libs/foundation/scss/foundation/components/sub-nav";
// @import "../../public/js/libs/foundation/scss/foundation/components/switch";
@import "../../public/js/libs/foundation/scss/foundation/components/magellan";
@import "../../public/js/libs/foundation/scss/foundation/components/tables";
// @import "../../public/js/libs/foundation/scss/foundation/components/thumbs";
@import "../../public/js/libs/foundation/scss/foundation/components/tooltips";
@import "../../public/js/libs/foundation/scss/foundation/components/dropdown";

// as from foundation 4.2.3, you have to set height:auto to textarea since it mixns form-element in foundation/components/_forms.scss
textarea{
  height: auto;
}
.button-light {
  @include button($button-sml, rgb(235,207,171), false, false, false, false);
  @include single-transition;
  @include inset-shadow(true);
}
.button-maroon {
  @include button($button-sml, maroon, false, false, false, false);
  @include single-transition;
  @include inset-shadow(true);
}
.panel,.pagination,.breadcrumbs,.sub-nav{
  a{
    cursor: pointer;
  }
}
.alert-box{
  .close{
    cursor: pointer;
  }
}
.pre{
  white-space: pre-line;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
.cross{
  font-size: 120%;
  text-shadow: 1px 1px 1px silver;
  margin-left: 5px;
  cursor: pointer;
}
// for bbs
@media #{$screen}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 80px;
    }
  }
}
@media #{$small}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 120px;
    }
  }
}
@media #{$medium}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 170px;
    }
  }
}
// The following was created by 'bundle exec compass install compass/ellipsis'
// Since you've installed the xml file, you should set
// $use-mozilla-ellipsis-binding to true before importing.
$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";
@import "compass/css3/transform";
// By default, ellipsis text is no-wrap. Pass false as the first argument if you don't want that.
.ellipsis {
  @include ellipsis;
}
.clearfix {
  @include clearfix();
}
.panel {
  line-height: 125%;
}
.rotate-90{
  @include rotate(90deg)
}
.rotate-180{
  @include rotate(180deg)
}
.rotate-270{
  @include rotate(270deg)
}
.event-symbol{
  font-size: 120%;
  margin-right: .2em;
  text-shadow: .1em .1em .3em silver;
  &.spades{
    color: black;
  }
  &.clubs{
    color: green;
  }
  &.diams{
    color: rgb(24,124,180);
  }
  &.hearts{
    color: red;
  }
}

.nowrap{
  white-space: nowrap;
}
