// Since single component limit of iPhone 3GS is 52,428 bytes, we split base file for Zurb Foundation 4 into two files
@import "settings";
@import "normalize";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
@import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/top-bar";  // *requires components/grid

.button-light {
  @include button($button-sml, rgb(235,207,171), false, false, false, false);
  @include single-transition;
  @include inset-shadow(true);
}
.button-maroon {
  @include button($button-sml, maroon, false, false, false, false);
  @include single-transition;
  @include inset-shadow(true);
}

.panel,.pagination,.breadcrumbs,.sub-nav{
  a{
    cursor: pointer;
  }
}
.alert-box{
  .close{
    cursor: pointer;
  }
}

.pre{
  white-space: pre-line;
}

html{
  height: 100%;
}
body{
  min-height: 100%;
}

.cross{
  font-size: 120%;
  text-shadow: 1px 1px 1px silver;
  margin-left: 5px; 
  cursor: pointer;
}

// for bbs
@media #{$screen}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 80px;
    }
  }
}
@media #{$small}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 120px;
    }
  }
}
@media #{$medium}{
  [data-magellan-expedition]{
    .arrival{
      max-width: 170px;
    }
  }
}
