// Since single component limit of iPhone 3GS is 52,428 bytes, we split base file for Zurb Foundation 4 into two files
@import "settings";
@import "normalize";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
@import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
@import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/top-bar";  // *requires components/grid

.button-custom {
  @include button($button-sml, teal, false, false, false, false)
}

.pagination,.breadcrumbs,.sub-nav{
  a{
    cursor: pointer;
  }
}
.alert-box{
  .close{
    cursor: pointer;
  }
}

.pre{
  white-space: pre-line;
}
