@import "compass/css3/border-radius";
[data-magellan-expedition]{
  .arrival{
    margin-left: 10px;
    border: 1px dotted gray;
    padding: 5px;
    background-color: #EEE;
    display: inline-block;
    font-size: 80%;
    @include border-radius(6px);
    a{
      color: gray;
    }
    &.active{
      background-color: rgb(255, 230, 218);
      border: 1px solid gray;
      a{
        font-weight: bold;
        color: #003;
      }
    }
  }
  .sub-nav{
    margin-left: 8px;
  }
  button{
    margin-bottom: 2px;
  }
}
#bbs-body{
  margin-top: 8px;
}
.thread {
  margin: 6px 0;
  padding: 10px;
  @include border-radius(6px);
  .thread-header {
    margin-bottom: 7px;
    margin-top: 8px;
    .title{
      font-weight: bold;
    }
    .goto-new,.goto-bottom{
      color: teal;
      cursor: pointer;
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }
  .is-public{
    font-weight: bold;
    color: blue;
  }
}
.private{
  border: 4px solid green;
  background-color: #FFD;
}
.public{
  border: 4px solid blue;
  background-color: #FFF;
}
.arrival.has_new_comment{
  border: 3px solid #F80 !important;
}
