/* colorbox core style */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
  workaround when using select2 with colorbox
  https://github.com/ivaynberg/select2/issues/1393
  https://github.com/jackmoore/colorbox/issues/474
*/

.select2-drop-mask {
  z-index: 10000;
}
.select2-drop {
  z-index: 10001;
}
.select2-search {
  z-index: 10002;
}

#tag-popup{
  legend{
    background: none;
  }
  position: relative;
  height:auto;
  width: 320px;
  color:black;
  background-color:#FED;
  border:4px solid #666;
  padding:12px;
  margin: 10px auto;
}
