.comment-item{
  border-top: 1px dotted gray;
  line-height: 125%;
  .name-date{
    margin: 5px 0;
    .name {
      color: #040;
    }
    .date {
      color: brown;
    }
    .is-new{
      background-color: #F80;
      text-shadow: 0.1em 0.1em 0.2em gray;
    }
  }
  .delete,.start_edit{
    margin-bottom: 0;
  }
  .body{
    padding: 5px;
    margin-bottom: 3px;
  }
}
