.event-participants{
  margin: 3px 0px;
  .label{
    background-color: #63F;
    display: inline-block;
  }
  .item{
    margin-left: .4em;
    border: 1px dotted silver;
    padding: 3px;
    display: inline-block;
  }
}
#help-public,#help-hide-choice{
  width: 420px;
  font-size: 90%;
}
#event-edit-form{
  .choice-item{
    background-color: #FFD;
    border: 1px dotted gray;
    margin-right: 6px;
    padding: 4px;
    .choice-name{
      cursor: pointer;
    }
    &[data-positive="false"]{
      background-color: #EEE;
    }
  }
  #move-to-done{
    margin-right: 1em;
  }
}
#container-event-group{
  .group-name{
    font-weight: bold;
  }
  .team{
    color: #300;
  }
}
