.comment-item{
  line-height: 125%;
  .name-date{
    margin: 5px 0;
    .name {
      color: #040;
    }
    .date {
      color: brown;
    }
  }
}
.participants{
  margin: 3px 0px;
  .label{
    background-color: gray;
  }
}
