.comment-item{
  line-height: 125%;
  .name-date{
    margin: 5px 0;
    .name {
      color: #040;
    }
    .date {
      color: brown;
    }
    .is-new{
      background-color: #F80;
      text-shadow: 0.1em 0.1em 0.2em gray;
    }
  }
}
.participants{
  margin: 3px 0px;
  .label{
    background-color: #63F;
  }
}
