.count{
  text-align:right;
}
#login-ranking{
  .myrank td{
    font-weight: bold;
    color: #003;
  }
}
#login-total{
  table tbody tr:nth-child(12n){
    border-bottom: 1px solid silver;
  }
}

#login-weekly{
  .bar{
    margin:0;padding:0;display:inline-block;
    &.mylog{
      background: #F60;
    }
    &.total{
      background: teal;
    }
  }
}
