#map-markers{
  .marker-item{
    display: inline-block;
    border: 1px dotted black;
    margin: .3em;
    padding: .3em;
    background-color: #ffc;
    cursor: pointer;
    .marker-title{
      color: teal;
      margin-right: .3em;
    }
    &:active{
      background-color: #cff;
      .marker-title{
        color: black;
      }
    }
  }
  margin-bottom: .3em;
}
