html,body{
  height: 100%;
}
#map-markers{
  .marker-item{
    display: inline-block;
    border: 1px dotted black;
    margin: .3em;
    padding: .3em;
    background-color: #ffc;
    cursor: pointer;
    .marker-title{
      color: teal;
      margin-right: .3em;
    }
    &:active{
      background-color: #cff;
      .marker-title{
        color: black;
      }
    }
  }
  margin-bottom: .3em;
}

#map-search{
  display: inline-block;
  width: 8em;
}

.marker-description{
  height: 10em;
}

#map{
  height: 720px; // full screen map will cause network traffics ! 
  max-height: 90%;
}

#body-end{
  position: fixed;
  bottom: 0;
  right: 0;
  text-shadow: 1px 1px white;
  z-index: 10;
}
