@import "result_common";
.gap-margin-left{
  margin-left: 1em;
}
.class-info{
  margin-bottom: 8px;
  .class-name{
    background-color: maroon;
  }
  .num-person{
    margin-left: .5em;
    background-color: rgb(146,139,126);
    border: 1px dotted silver;
  }
}

.editable{
  * {
    color: white !important;
    text-decoration: underline;
  }
  background-color: #333 !important;
  border: 3px outset silver !important;
  cursor: pointer;
  &:hover{
    background-color: gray !important;
  }
}

#contest-group{
  max-width: 260px;
}
.chunk-body{
  .leftmost{
    max-width: 128px;
    min-width: 76px;
  }
}
#single-player{
  .player{
    display: inline-block;
    margin-left: 0.5em;;
  }
  input,select{
    width: auto;
    display: inline;
  }
}
#team-player{
  .team legend{
    font-weight: normal;
    color: #006;
  }
  .player{
    display: inline-block;
    margin-left: 0.5em;;
  }
  input,select{
    width: auto;
    display: inline;
  }
}
#edit-round{
  .header{
    background-color: black;
    color: white;
    font-size: 90%;
    padding: 4px;
    display: inline-block;
  }
  #round-kind{
    font-size: 90%;
  }
}
#edit-prize{
  .message{
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
