@import "result_common";
.all-span{
  color: gray;
}
.record-user-name{
  font-weight: bold;
  font-size: 110%;
}

.chunk-body{
  .leftmost{
    max-width: 192px;
    min-width: 128px;
  }
  .is-opponent{
    background-color: #E2FFDD;
  }
  .record-round-name{
    color: gray;
  }
}
#record-summary{
  thead{
    background-color: #FDC;
  }
  .a_champ{
    color: purple;
  }
  .rank_up{
    color: green;
  }
  .value{
    text-align: right;
  }
  tbody tr{
    border-bottom: 1px solid silver;
    vertical-align: top;
  }
  .sum{
    background-color: #DEF;
    font-weight: bold;
  }
}
#record-summary-small{
  border: 1px solid black;
  tbody tr{
    background-color: white;
    border-top: none;
    border-bottom: none;
    &.small-year{
      border-top: 1px solid black;
    }
    &.small-prize{
      border-top: 1px dotted silver;
    }
  }
  thead tr{
    th{
      font-weight: normal;
    }
    background-color: #FFD;
  }
}
#contest-span{
  margin-top: 6px;
  margin-bottom: 0;
}
