@import "result_common";
.class-info{
  margin-bottom: 8px;
  .class-name{
    background-color: maroon;
  }
  .num-person{
    margin-left: .5em;
    background-color: rgb(146,139,126);
    border: 1px dotted silver;
  }
}

.editable{
  text-decoration: underline;
  color: white !important;
  background-color: gray !important;
  border: 3px outset silver !important;
  text-shadow: 1px 1px 1px gray;
  cursor: pointer;
  &:hover{
    background-color: #333 !important;
  }
}

#contest-group{
  max-width: 260px;
}
.chunk-body{
  .leftmost{
    max-width: 128px;
    min-width: 76px;
  }
}
#single-player{
  .player{
    display: inline-block;
    margin-left: 0.5em;;
  }
  input,select{
    width: auto;
    display: inline;
  }
}
#team-player{
  .team legend{
    font-weight: normal;
    color: #006;
  }
  .player{
    display: inline-block;
    margin-left: 0.5em;;
  }
  input,select{
    width: auto;
    display: inline;
  }
}
#edit-single-round{
  select[name='result']{
    min-width: 42px;
  }
}
