$holiday-color: #FDD;
$saturday-color: #DDF;
$weekday-color: #FFD;
.info-item {
  line-height: 125%;
  font-size: 90%;
  border: 1px dotted gray;
  padding: 3px;
  overflow-y: auto;
  height: 116px;
  cursor: pointer;
  .day {
    font-size: 110%;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em gray;
    color: #024;
  }
  &.current{
  }
  &.holiday{
    background-color: $holiday-color;
    &:hover,&:focus{
      background-color: darken($holiday-color, 15%);
    }
  }
  &.saturday{
    background-color: $saturday-color;
    &:hover,&:focus{
      background-color: darken($saturday-color, 15%);
    }
  }
  &.weekday{
    background-color: $weekday-color;
    &:hover,&:focus{
      background-color: darken($weekday-color, 15%);
    }
  }
}
.info-item-edit{
  @extend .info-item;
  height: 120px;
  textarea{
    height: 80px;
  }
}
#container-detail{
  .year-month-day{
    font-weight: bold;
  }
  .description{
    margin-left: 10px;
    margin-top: 8px;
  }
  .detail-item{
    .description{
      clear: both;
    }
  }
  .detail-item-edit{
  }
}
