.info-item {
  overflow-y: auto;
  height: 116px;
  .day {
    font-weight: bold;
  }
  &.current{
  }
  &.holiday{
    background-color: #FDD;
  }
  &.saturday{
    background-color: #DDF;
  }
  &.weekday{
    background-color: #FFD;
  }
}
.info-item-edit{
  @extend .info-item;
  height: 120px;
  textarea{
    height: 80px;
  }
}
#container-detail{
  .year-month-day{
    font-weight: bold;
  }
  .description{
    margin-left: 10px;
    margin-top: 8px;
  }
  .detail-item{
    .description{
      clear: both;
    }
  }
  .detail-item-edit{
  }
}
