#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {
  legend{
    background: none;
  }
  #tag-popup{
    position: relative;
    height:auto;
    width: 320px;
    color:black;
    background-color:#FED;
    border:4px solid #666;
    padding:12px;
    margin: 10px auto;
  }
}
