@import "foundation/components/global";
@import "foundation/components/buttons";
.event-item{
  .buttons{
    text-align: right;
    button,.button-custom{
      margin-bottom: 0;
    }
  }
  .participant-count{
    font-weight: bold;
    font-size: 120%;
    color: #63F;
  }
  .new-comment{
    color: #F80;
  }
  .comment-count{
    text-shadow: 0.1em 0.1em 0.2em silver;
  }
  .event-choice{
    .sub-nav{
      margin-top: 6px;
      margin-bottom: 6px;
      .choice{
        &.positive-true.active a{
          background-color: #63F;
        }
        &.positive-false.active a{
          background-color: gray;
        }
        a{
          font-size: 110%;
          color: #036;
          text-decoration: underline;
        }
        &.active a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .event-name{
    border-bottom: 1px dotted silver;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .event-date{
    color: maroon;
    font-weight: bold;
    font-size: 120%;
  }
  .event-weekday{
    color: maroon;
    font-weight: bold;
  }
  .deadline{
    text-align: right;
    .deadline-expired {
      color: gray;
    }
    .deadline-future,.deadline-today,.deadline-tomorrow {
      color: green;
      font-weight: bold;
      font-size: 120%;
    }
  }
}
#sticky-alert {
  position:fixed;
  bottom:0;
  right:0;
  div{
    margin-top: 7px;
    margin-right: 5px;
  }
  .close{
    cursor: pointer;
  }
}
#event-list{
  .sub-nav{
    a {
      cursor: pointer;
      &:hover{
        color: brown;
      }
    }
    .active a:hover{
      color: white;
    }
  }
}
