@import "foundation/components/global";
@import "foundation/components/buttons";
$forbidden-color: gray !important;
.event-item{
  .row{
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .buttons{
    text-align: right;
    button,.button-custom{
      margin-bottom: 0;
    }
  }
  .participant-count{
    font-weight: bold;
    font-size: 120%;
    color: #63F;
  }
  .new-comment{
    color: rgb(153,0,255);
  }
  .comment-count{
    text-shadow: 0.1em 0.1em 0.2em silver;
  }
  .event-choice{
    .sub-nav{
      margin-bottom: 0;
      .choice{
        &.positive-true.active a{
          background-color: #63F;
        }
        &.positive-false.active a{
          background-color: gray;
        }
        a{
          font-size: 110%;
          color: #036;
          text-decoration: underline;
        }
        &.active a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .event-name-row{
    border-bottom: 1px dotted silver;
  }
  .event-name{
    font-weight: bold;
    margin-bottom: 7px;
  }
  .event-date{
    color: maroon;
    font-weight: bold;
    font-size: 120%;
  }
  .event-weekday{
    color: maroon;
    font-weight: bold;
  }
  .forbidden{
    color: $forbidden-color;
  }
  .deadline.forbidden{
    color: $forbidden-color;
    span{
      color:$forbidden-color;
      font-weight: normal;
      font-size: 100%;
    }
  }
  .deadline{
    text-align: right;
    .deadline-expired {
      color: gray;
    }
    .deadline-future,.deadline-today,.deadline-tomorrow {
      color: green;
      font-weight: bold;
      font-size: 120%;
    }
  }

  .event-symbol{
    font-size: 130%;
    margin-right: .2em;
    text-shadow: .1em .1em .3em silver;
    &.spades{
      color: black;
    }
    &.clubs{
      color: green;
    }
    &.diams{
      color: rgb(24,124,180);
    }
    &.hearts{
      color: red;
    }
  }
}
.deadline-message{
  .event-choice{
    margin-left: 3px;
  }
  .sub-nav{
    margin-bottom: 0;
  }
  .event-item{
    padding-top: 10px;
  }
}
#sticky-alert {
  position:fixed;
  bottom:0;
  right:0;
  div{
    margin-top: 7px;
    margin-right: 5px;
  }
}
#event-list{
  .sub-nav{
    a {
      &:hover{
        color: brown;
      }
    }
    .active a:hover{
      color: white;
    }
  }
}
#event-edit-form{
  .choice-item{
    background-color: #FFD;
    border: 1px dotted gray;
    margin-right: 6px;
    padding: 4px;
    .choice-name{
      cursor: pointer;
    }
    &[data-positive="false"]{
      background-color: #EEE;
    }
  }
  #move-to-done{
    margin-right: 1em;
  }
}

.daily-album-photo{
  margin: 5px;
  padding: 5px;
  border: 1px solid silver;
  background-color: rgb(220,255,211);
  text-align: center;
  img{
    margin: 3px;
  }
}
#help-public,#help-hide-choice{
  width: 420px;
  font-size: 90%;
}
