.wiki-title{
  color: purple;
  padding: 3px;
  display: inline;
  font-weight: bold;
}
.viewlog{
  a{
    margin: 4px;
    color: rgb(6,69,173);
  }
}
#wiki-item{
  .row{
    background-color: rgba(255,255,255,0.5);
  }
  a{
    cursor: pointer;
  }
  a.link-page{
    color: rgb(6,69,173);
  }
  a.link-new{
    color: #BA0000;
  }
  code{
    display: inline-block;
    border: 1px dashed rgb(47,111,171);
    padding: 1em;
    background-color: rgb(249,249,249);
    font-weight: normal;
    color: #000;
    margin-left: 1em;
  }
  h1{
    font-size: 150%;
  }
  h2{
    font-size: 140%;
  }
  h3{
    font-size: 130%;
  }
  h4{
    font-size: 120%;
  }
  h5{
    font-size: 110%;
  }
  p{
    margin-bottom: .5em;
  }
  td,th{
    min-width: 100px;
  }
}

#wiki-attached{
  .filename{
    max-width: 250px;
  }
  .size{
    text-align: right;
    white-space: nowrap;
    color: #030;
  }
  .date{
    white-space: nowrap;
    color: maroon;
  }
}
#edit-start{
  position:absolute;
  right: 1em;
}
