.wiki-header{
  border-bottom: 1px solid silver;
  padding: 0.3em;
  margin-bottom: 0.6em;
  .wiki-title{
    color: #003;
    display: inline-block;
    font-weight: bold;
    font-size: 130%;
  }
  #edit-start{
    display: inline-block;
    margin-left: 1em;
    color: teal;
    text-decoration: underline;
    cursor: pointer;
  }
}
.viewlog{
  a{
    margin: 4px;
    color: rgb(6,69,173);
  }
}
.wiki-page{
  .row{
    background-color: rgba(255,255,255,0.5);
  }
  a{
    cursor: pointer;
  }
  a.link-page{
    color: rgb(6,69,173);
  }
  a.link-new{
    color: #BA0000;
  }
  code{
    display: inline-block;
    border: 1px dashed rgb(47,111,171);
    padding: 1em;
    background-color: rgb(249,249,249);
    font-weight: normal;
    color: #000;
    margin-left: 1em;
  }
  h1{
    font-size: 150%;
  }
  h2{
    font-size: 140%;
  }
  h3{
    font-size: 130%;
  }
  h4{
    font-size: 120%;
  }
  h5{
    font-size: 110%;
  }
  p{
    margin-bottom: .5em;
  }
  .private{
    padding: 3px;
    border: 2px dashed silver;
    background-color: #EED;
    color: black;
    font-weight: normal;
  }
  span.private{
    display: inline-block;
  }
}

#wiki-attached{
  .filename{
    max-width: 250px;
  }
  .size{
    text-align: right;
    white-space: nowrap;
    color: #030;
  }
  .date{
    white-space: nowrap;
    color: maroon;
  }
}
.public-message{
  font-weight: bold;
  color: maroon;
  margin-bottom: 0.5em;
}

#wiki-log{
  .revision{
    font-weight: bold;
  }
  .user-name{
    color: #004;
  }
  .date{
    color: maroon;
  }
}
