#!/usr/bin/env bash
# register this script to cron if you want to do mysqldump periodically

PATH="/bin:/usr/bin"
CURDIR="$(dirname $(readlink -f $0))"

# MySQL account
MY_USER="username"
MY_PASSWORD="password"
MY_DATABASE="database"

# other settings
SIZE_LIMIT="1024" # in megabytes
DUMPDIR="${CURDIR}/dump"

mkdir -p "$DUMPDIR"
prefix=$(date +'dump_%F_%H%M%S')
mysqldump -u "$MY_USER" --password="$MY_PASSWORD" "$MY_DATABASE" |\
 gzip > "$DUMPDIR"/"$prefix".gz 

while [ "$(du -sm "$DUMPDIR" | cut -f 1)" -gt $SIZE_LIMIT ];do
  fn=$(ls -tr "$DUMPDIR"/dump_*.gz | head -n 1)
  [ "$fn" ] || break
  rm "$fn" || break
done
